<% if element.kind == "QuestionGrid" -%>
  <li>
  	<label class="desc"><%= element.label %></label>
  	<table class="grid">
  	<tr>
      <% element.elements.each do |grid_element| -%>
        <% if grid_element.display_response(answer_sheet).to_s.strip.present? %>
          <% unless %w(Paragraph).include?(grid_element.kind) -%>
            <td id="element_<%= element.id %>">
              <%= grid_element.label + ': ' if grid_element.label.present? %>
            </td>
          <% end -%>
        <% end %>
      <% end %>
    </tr>
    <tr>
      <% element.elements.each do |grid_element| -%>
        <% if grid_element.display_response(answer_sheet).to_s.strip.present? %>
          <% unless %w(Paragraph).include?(grid_element.kind) -%>
            <td id="element_<%= grid_element.id %>">
              <span class="answer">
                <% case grid_element.attribute_name %>
                <% when 'gender' %>
                  <%= @answer_sheet.person.human_gender %>
                <% when 'maritalStatus' %>
                  <%= @answer_sheet.person.marital_status %>
                <% when 'preference2_id' %>
                  <%= @answer_sheet.preference2.try(:name) %>
                <% when 'preference3_id' %>
                  <%= @answer_sheet.preference3.try(:name) %>
                <% else %>
                  <%= grid_element.display_response(answer_sheet) %>
                <% end %>
              </span>
            </td>
          <% end -%>
          <% if grid_element.kind == 'ChoiceField' && grid_element.elements.present? %>
            <%= render :partial => 'answer_sheets/element', :collection => grid_element.elements, :locals => {:elements => grid_element.elements, :answer_sheet => @answer_sheet} %>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  </table>
  </li>
<% else -%>
  <% if element.question? -%>
    <li>
    <label class="desc"><%= element.label %></label>
    <% if ['essay', 'checkbox'].include?(element.style) %><br/><% end %>
    <% answer = element.display_response(answer_sheet) %>
    <% if answer.present? %>
      <span class="answer"><%= answer %></span>
      <% if element.kind == 'ChoiceField' && answer == 'Yes' && element.elements.present? %>
        <ul>
          <%= render :partial => 'answer_sheets/element', :collection => element.elements, :locals => {:elements => element.elements, :answer_sheet => @answer_sheet} %>
        </ul>
      <% end %>
    <% end %>
    </li>
  <% end -%>
<% end -%>
