<% if element.kind == "QuestionGrid" -%>
  <li>
  	<label class="desc"><%= element.label %></label>
  	<table class="grid">
  	<%- if element.cols -%>

  	<%- end -%>
  	<tr>
  		<%- col_count = 0
  			element.elements.each do |grid_element| -%>
  		<td id="element_<%= element.id %>">
  			<% unless %w(Paragraph).include?(grid_element.kind) -%>
    			<%= grid_element.label + ': ' if grid_element.label.present? %>
    			<strong>
    			<% case grid_element.attribute_name %>
  			  <% when 'gender' %>
  			    <%= @answer_sheet.person.human_gender %>
  			  <% when 'maritalStatus' %>
  			    <%= @answer_sheet.person.marital_status %>
    			<% else %>
      			<%= grid_element.display_response(answer_sheet) %>
      		<% end %>
      		</strong> 
  			<% end -%>
  		</td>
  		<%- 	col_count += 1
  				if col_count % element.num_cols == 0 then col_count = 0 -%></tr><tr><%- end -%>
  		<%-	end -%>
  		<%- while col_count < element.num_cols do 
  				col_count += 1-%>
  				<td>&nbsp;</td>
  		<%- end unless col_count == 0-%>
  	</tr>
  	</table>
  </li>
<% elsif element.question_grid_id.nil? && element.conditional_id.nil? -%>
  <% if element.question? -%>
    <li>
      <label class="desc"><%= element.label %></label>
      <% if ['essay', 'checkbox'].include?(element.style) %><br/><% end %>
      <span class="answer"><%= element.display_response(answer_sheet) %></span>
    </li>
  <% end -%>
<% end -%>
