<div class="pagepad">
  <h1>Questionnaires</h1>
    
	<% if flash[:error] -%>
		<div style="background: #ffe5df; border: solid 1px #efbeb3; padding: 9px; margin: 0 0 18px;"><%= flash[:error] %></div>
	<% end -%>

  <%= link_to 'New Questionnaire', fe_admin_question_sheets_path, :method => :post, :class => "add-link" %>
  <br/>	
  <h2>Active</h2>
  <table cellspacing="0" class="list"> 
    <tr>
      <th>Basic Info</th>
      <th colspan="3">&nbsp;</th>
    </tr>
    <% for question_sheet in @active_question_sheets %>
      <% if question_sheet.label =~ /basic/i %>
        <% @active_question_sheets -= [question_sheet] %>
        <%= render 'question_sheet', :question_sheet => question_sheet %>
      <% end %>
    <% end %>
  </table>
  <table cellspacing="0" class="list"> 
    <tr>
      <th>Templates</th>
      <th colspan="3">&nbsp;</th>
    </tr>
    <% for question_sheet in @active_question_sheets %>
      <% if question_sheet.label =~ /Template/i %>
        <% @active_question_sheets -= [question_sheet] %>
        <%= render 'question_sheet', :question_sheet => question_sheet %>
      <% end %>
    <% end %>
  </table>
  <table cellspacing="0" class="list"> 
    <tr>
      <th>References</th>
      <th colspan="3">&nbsp;</th>
    </tr>
    <% for question_sheet in @active_question_sheets %>
      <% if question_sheet.label =~ /reference/i %>
        <% @active_question_sheets -= [question_sheet] %>
        <%= render 'question_sheet', :question_sheet => question_sheet %>
      <% end %>
    <% end %>
  </table>
  <table cellspacing="0" class="list"> 
    <tr>
      <th>Other</th>
      <th colspan="3">&nbsp;</th>
    </tr>
    <% for question_sheet in @active_question_sheets %>
      <%= render 'question_sheet', :question_sheet => question_sheet %>
    <% end %>
  </table>
    
	
  <h2>Archived</h2>
  <table cellspacing="0" class="list"> 
    <% for question_sheet in @archived_question_sheets %>
      <tr class="<%= cycle("","alt") %>">
        <td class="title"><%= link_to question_sheet.label, fe_admin_question_sheet_path(question_sheet), :class => "questionnaire" %></td>
        <td class="actions"><%= link_to 'Duplicate', duplicate_fe_admin_question_sheet_path(question_sheet), data: {confirm: 'This will take some time depending on the number of questions. Please be patient.'}, :method => :post, :class => 'duplicate' %></td>
        <td class="actions unarchive"><%= link_to 'Un-Archive', unarchive_fe_admin_question_sheet_path(question_sheet), :method => :post, :class => 'unarchive'  %></td>
      </tr>
    <% end %>
  </table>
</div>

<div id="footer">

</div>
