<!DOCTYPE html>
<html>
<head>
  <title>Sp2</title>
  <%= stylesheet_link_tag("frontend") %>
  <%= csrf_meta_tag %>
  <%= render :partial => 'layouts/ga' %>

</head>
<body id="application-closed">

<div id="outer">
  <div id="header">
  </div>
  <div id="body">
    <div class="content">
      <% open_date = @project && @project.open_application_date ? l(@project.open_application_date, format: :long) : 'November 1st' %>
      <h3>The application system is set to open <%= open_date %>. Check back!</h3>
      <p>We will begin accepting applications for Summer Projects on <%= open_date %>.
     If you have questions, we are happy to answer them. You can reach us at:</p>
     <ul class="contacts">
       <li class="mail"><%= mail_to("gosummerproject@uscm.org") %></li>
       <li class="phone">1.800.690.0911</li>
     </p>
     
     <p><br/>We look forward to serving with you soon!</p>
     
      
      <%#= yield %>
    </div>
  </div>
  <div id="footer">
    &copy; <%= Time.now.year %> Cru | Summer Project<br/>
    100 Lake Hart Drive, Department 2500, Orlando, FL 32823 | 1.800.690.0911
  </div>
</div>

</body>
</html>
