<div class="panel">
  <% if @application.can_change_references? %>
      <p>You are already applying for <%= @current_project.to_s %>, but have just clicked the link to apply for <%= @new_project.to_s %>. What would you like to do?</p>
      <ul>
        <li><%= link_to("Continue applying to #{@current_project.to_s}.", apply_applications_path(:p => @current_project.to_param, :force => true)) %></li>
        <br/>
        <li><%= link_to("Apply to #{@new_project.to_s} instead.", apply_applications_path(:p => @new_project.to_param, :force => true)) %></li>
        <br/>
      </ul>
  <% else %>
      <p>
        Your application to <%= @current_project.name %> has already been completed. If you need to change which mission you're applying to, please
        <% if @current_project.contact %>
            contact <%= @current_project.contact.informal_full_name %> at <%= @current_project.contact.email %>
        <% else %>
            send an email to gosummerproject@cru.org
        <% end %>
      </p>
      <p><%= link_to('Click here to go to your application status page.', application_path(@application), :class => 'successreturn') %></p>
  <% end %>
</div>