<div class="page-title row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to('Apply for a Different Project', '/projects', :class => 'btn btn-default') %>&nbsp;
      <a href="http://www.facebook.com/sharer.php?u=http://projects.studentlife.org.nz/" class="btn btn-social btn-facebook">
        <%= fa_icon 'facebook' %> Share on Facebook
      </a>
    </div>
    <span class="text-muted">Current Status of</span>
    <h3>My Application</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Hello <%= @application.name %>,</h2>

    <p>
      You applied to <strong><%= @application.project.name %></strong>. Here
      are some details about your application that will be updated as progress is made.
      If you have questions, you can reach your future project directors using their contact information.
      We look forward to serving with you this summer!
    </p>
  </div>
  <div class="row col-md-12">
    <div class="col-md-4">
      <div class="box box-orange">
        <h2 class="box-title">My Progress</h2>

        <h5>Status<span class="badge pull-right"><%= @application.status.to_s.titleize %></span></h5>
        <br />
        <h4 class="box-title">My References</h4>
        <% @application.sp_references.each do |reference| %>
          <% if reference.name.present? %>
            <h5><%= reference.name %><span class="badge pull-right"><%= reference.status.to_s.titleize %></span></h5>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <h2>Your Directors</h2>
      <table class="statuswait">
        <tbody>
          <% if @application.project.pd.present? %>
          <tr>
            <td class="fieldname fieldbold">Project Director:</td>
            <td class="value"><%= @application.project.pd.to_s %> <%= link_to(image_tag("icons/mail.png"), "mailto:#{@application.project.pd.email}") %></td>
          </tr>
          <% end %>
          <% if @application.project.apd.present? %>
          <tr>
            <td class="fieldname fieldbold">Assistant Project Director:</td>
            <td class="value"><%= @application.project.apd.to_s %> <%= link_to(image_tag("icons/mail.png"), "mailto:#{@application.project.apd.email}") %></td>
          </tr>
          <% end %>
          <% if @application.project.opd.present? %>
          <tr>
            <td class="fieldname fieldbold">Operations Project Director:</td>
            <td class="value"><%= @application.project.opd.to_s %> <%= link_to(image_tag("icons/mail.png"), "mailto:#{@application.project.opd.email}") %></td>
          </tr>
          <% end %>
          <% if @application.project.coordinator.present? %>
          <tr>
            <td class="fieldname fieldbold">Coordinator:</td>
            <td class="value"><%= @application.project.coordinator.to_s %> <%= link_to(image_tag("icons/mail.png"), "mailto:#{@application.project.coordinator.email}") %></td>
          </tr>
          <% end %>

          <tr>
            <td colspan="2" class="divide"></td>
          </tr>
          <% if @application.project.student_cost.to_i > 0 %>
          <tr>
            <td class="fieldname fieldbold">Project Cost:</td>
            <td class="value"><%= number_to_currency(@application.project.student_cost, :precision => 0) %></td>
          </tr>
          <% end %>
          <% if @application.project.start_date && @application.project.end_date %>
          <tr>
            <td class="fieldname fieldbold">Project Dates:</td>
            <td class="value"><%= l(@application.project.start_date) %> &mdash; <%= l(@application.project.end_date) %></td>
          </tr>
          <% end %>
          <tr>
            <td class="fieldname fieldbold">Project Overview:</td>
            <td class="value"><%= raw @application.project.description %></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>