<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Summer Mission Application</title>

  <link rel="dns-prefetch" href="//use.typekit.com">
  <script src="//use.typekit.net/usb5wjy.js" type="text/javascript" async=""></script>
  <script type="text/javascript">
      (function() {
          var config = {
              kitId: 'usb5wjy',
              scriptTimeout: 3000
          };
          var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();
  </script>

  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <script type="text/javascript" charset="utf-8">
      var answer_sheet_type = '<%= @answer_sheet.class %>'
  </script>
  <%= csrf_meta_tag %>

  <script type="text/javascript" charset="utf-8">
      <%= raw Rack::TimeZone::Javascript %>
      setTimezoneCookie()
  </script>

  <link rel="stylesheet" href="//use.typekit.net/c/8dd504/1w;freight-sans-pro,1,TJ9:P:i3,TJC:P:i4,TJ8:P:n3,TJB:P:n4,TJD:P:n5,TJG:P:n6,TJJ:P:n7;leitura-news,2,Vxv:P:n6/d?3bb2a6e53c9684ffdc9a98f11b5b2a62a68aa48eeef682652ee742d2b0fee8a1dbc0e21530bfe6c684f48e5d865a201dd734d99a239f343214d65edbc6ad0629a227fd2278b21a0b887dd68ccab135c2c8dc2db2c29b946c9f1e73c769383d482d93bb902f8fc67af742aedb4b74b254591b97d5906b6f6759401a046cbf05289aa805564cfd10b918dae522f7697920e274b37f5c63b34c6b7a701feb84df206b710fcb96705cb02f32c1ff2ca8dc2bbf666d17623d526b7a88b0a809b2c982c5fae6535e41541f1caed9445badfae8660f45e253a9efb1a6250cc6be0862480e5e3fccdc7a353c2f016be4023b3e95dfcc2dd4e28668e3a5e43083435daa5ea48cfa9e32e8e047866f8fe5912159">
</head>
<body id="<%= params[:controller]%>" class="<%= params[:action] %>">
<%= render :partial => 'layouts/ga' %>

<div id="headwrap">
  <div id="header">
    <% if @authentications || logged_in? %>
        <div id="globalactions">
          <ul>
            <li><%= link_to("Log Out", "/logout") %></li>
            <li></li>
          </ul>
        </div>
    <% end %>
  </div>
</div>

<div class="clear"></div>

<div id="wrapper">
  <div class="clearfix">
    <%= yield %>
  </div>
</div>
<div id="footerwrap">
  <hr class="section-divider">
  <ul class="inline-list">
    <li><a href="http://www.cru.org/opportunities/mission-trips/summer/learn/faq.html" target="_blank">Issues or Questions</a></li>
    <li><%= link_to('Privacy Policy', '/welcome/privacy') %></li>
  </ul>

  <div class="copy">
    <small class="text-center">©1994-<%= Time.now.year %> Cru. All Rights Reserved.</small>
  </div>
</div>
</body>
</html>