<h1>Evaluation Summary</h1>

<table id="summarygreen">
  <tr>
  <td>
    <table class="summarytable">
      <tr>
        <td class="title">Status:</td><td><%= @application.status.titleize %></td>	
      </tr>
      <tr>
        <td class="title">Started:</td><td><%= l(@application.created_at) if @application.created_at %></td>
      </tr>
      <tr>
        <td class="title">Completed:</td><td><%= l(@application.completed_at) if @application.completed_at %></td>
      </tr>
      <tr>
        <td class="title">Fee Paid?</td><td><font color="#<% if @application.has_paid? %>008000<%else%>FF0000<%end%>"><%= @application.has_paid? ? "Yes" : "No" %></font></td>
      </tr>
    </table>
  </td>
  <td>
    <table class="summarytable">    
      
      <% if sp_user.can_waive_fee? && !@application.has_paid? %>
        <%#= link_to('waive fee', waive_fee_applicant_path(@application)) %>
      <% end %> 
        
       
      <% if @application.reference_sheets.present? -%>
        <tr>
          <th colspan="2">References </th>
        </tr>
        <% @application.reference_sheets.each do |reference| -%>
          <% if reference.name.present? %>
            <tr>
              <td class="title"><%= reference.question.label %></td>
              <td class="<% if reference.completed? %>complete<%else%>incomplete<%end%>"><%= reference.status.titleize %></td>
            </tr> 
          <% end %>
        <% end %>
      <% end -%>
    </table>
  </td>
  <td style="border: none;">
    <table class="summarytable" style="border-right: none;">
      <tr>
        <td class="title">Applying for Summer Internship?</td>
        <td><%= @application.apply_for_leadership? ? "Yes" : "No" %></td>
      </tr>
    </table>
    <div class="clear"></div>
  </td>
</tr>
</table>


<%= form_for(@evaluation, :url => @evaluation.new_record? ? admin_evaluations_path : admin_evaluation_path(@evaluation)) do |form| %>
  <%= hidden_field_tag :application_id, @application.id %>

<div class="actionwrap">
  <input type="submit" value="Save" class="savebut">
</div>  
<table class="datatable col2">
  <tr>
    <td class="title">Applicant</td><td><%= @person.informal_full_name %></td>
  </tr>
  <tr>
    <td class="title">Status</td><td><%= @application.status.titleize %></td>
  </tr>
  <tr>
    <td class="title">Change Status</td><td><%= select_tag :event, options_for_select((@application.valid_events.map {|s| [s.to_s.humanize, s.to_s]}).insert(0, '')), :onchange => "displayWarning()"%></td>
  </tr>
  <tr>
    <td class="title">Move this student to a different project:</td>
    <td>
      <%= select(:application, :project_id, @projects.collect {|p| [p.name, p.id]}, :include_blank => true) %>
      <%= tip("This list is only showing projects that still have room for #{@person.human_gender} applicants") %>
    </td>
  </tr>
  <tr>
    <td class="title">Applicant Notified (Sends an email to an accepted applicant to get them started with MPD)</td>
    <td><%= radio_button :application, :applicant_notified, true %>Yes  <%= radio_button :application, :applicant_notified, false %>No</td>
  </tr>
</table>
  

<div class="field">
  <div class="question"><h3>Notes:</h3></div>
  <%= text_area :evaluation, :comments, :cols => 80, :rows => 10 %>
</div>  


<table class="datatable">
  <tr>
    <th>Qualifying Factors</th>
    <th class="tally">Factor Weight</th>
    <th class="tally">Factor Score</th>
  </tr>
  <tr class="question">
    <td class="question calc">
      1. Spiritual Maturity/Knowledge of and demonstration of Spirit-filled life
      <table>
        <tr>
          <td class="poor">Poor</td>
          <td><%= radio_button :evaluation, :spiritual_maturity, 1 %><label>1</label></td>
          <td><%= radio_button :evaluation, :spiritual_maturity, 2 %><label>2</label></td>
          <td><%= radio_button :evaluation, :spiritual_maturity, 3 %><label>3</label></td>
          <td><%= radio_button :evaluation, :spiritual_maturity, 4 %><label>4</label></td>
          <td><%= radio_button :evaluation, :spiritual_maturity, 5 %><label>5</label></td>
          <td><%= radio_button :evaluation, :spiritual_maturity, 6 %><label>6</label></td>
          <td><%= radio_button :evaluation, :spiritual_maturity, 7 %><label>7</label></td>
          <td class="great">Great</td>
        </tr>
      </table>
    </td>
    <td class="weight"><%= SpEvaluation::SPIRITUAL_MATURITY %></td>
    <td class="score"><%= @evaluation.spiritual_maturity_score %></td>
  </tr>
  <tr class="question">
    <td class="question calc">
      2. Attitude toward Authority and General Teachability
      <table>
        <tr>
          <td class="poor">Poor</td>
          <td><%= radio_button :evaluation, :teachability, 1 %><label>1</label></td>
          <td><%= radio_button :evaluation, :teachability, 2 %><label>2</label></td>
          <td><%= radio_button :evaluation, :teachability, 3 %><label>3</label></td>
          <td><%= radio_button :evaluation, :teachability, 4 %><label>4</label></td>
          <td><%= radio_button :evaluation, :teachability, 5 %><label>5</label></td>
          <td><%= radio_button :evaluation, :teachability, 6 %><label>6</label></td>
          <td><%= radio_button :evaluation, :teachability, 7 %><label>7</label></td>
          <td class="great">Great</td>
        </tr>
      </table>  
    </td>
    <td class="weight"><%= SpEvaluation::TEACHABILITY %></td>
    <td class="score"><%= @evaluation.teachability_score %></td>
  </tr>
  <tr class="question">
    <td class="question calc">
      3. Leadership Displayed or Leadership Potential
      <table>
        <tr>
          <td class="poor">Poor</td>
          <td><%= radio_button :evaluation, :leadership, 1 %><label>1</label></td>
          <td><%= radio_button :evaluation, :leadership, 2 %><label>2</label></td>
          <td><%= radio_button :evaluation, :leadership, 3 %><label>3</label></td>
          <td><%= radio_button :evaluation, :leadership, 4 %><label>4</label></td>
          <td><%= radio_button :evaluation, :leadership, 5 %><label>5</label></td>
          <td><%= radio_button :evaluation, :leadership, 6 %><label>6</label></td>
          <td><%= radio_button :evaluation, :leadership, 7 %><label>7</label></td>
          <td class="great">Great</td>
        </tr>
      </table>  
    </td>
    <td class="weight"><%= SpEvaluation::LEADERSHIP %></td>
    <td class="score"><%= @evaluation.leadership_score %></td>
  </tr>
  <tr class="question">
    <td class="question calc">
      4. Emotional Stability
      <table>
        <tr>
          <td class="poor">Poor</td>
          <td><%= radio_button :evaluation, :stability, 1 %><label>1</label></td>
          <td><%= radio_button :evaluation, :stability, 2 %><label>2</label></td>
          <td><%= radio_button :evaluation, :stability, 3 %><label>3</label></td>
          <td><%= radio_button :evaluation, :stability, 4 %><label>4</label></td>
          <td><%= radio_button :evaluation, :stability, 5 %><label>5</label></td>
          <td><%= radio_button :evaluation, :stability, 6 %><label>6</label></td>
          <td><%= radio_button :evaluation, :stability, 7 %><label>7</label></td>
          <td class="great">Great</td>
        </tr>
      </table>  
    </td>
    <td class="weight"><%= SpEvaluation::STABILITY %></td>
    <td class="score"><%= @evaluation.stability_score %></td>
  </tr>
  <tr class="question">
    <td class="question calc">
      5. Attitude toward Evangelism
      <table>
        <tr>
          <td class="poor">Poor</td>
          <td><%= radio_button :evaluation, :good_evangelism, 1 %><label>1</label></td>
          <td><%= radio_button :evaluation, :good_evangelism, 2 %><label>2</label></td>
          <td><%= radio_button :evaluation, :good_evangelism, 3 %><label>3</label></td>
          <td><%= radio_button :evaluation, :good_evangelism, 4 %><label>4</label></td>
          <td><%= radio_button :evaluation, :good_evangelism, 5 %><label>5</label></td>
          <td><%= radio_button :evaluation, :good_evangelism, 6 %><label>6</label></td>
          <td><%= radio_button :evaluation, :good_evangelism, 7 %><label>7</label></td>
          <td class="great">Great</td>
        </tr>
      </table>  
    </td>
    <td class="weight"><%= SpEvaluation::GOOD_EVANGELISM %></td>
    <td class="score"><%= @evaluation.good_evangelism_score %></td>
  </tr>
  <tr class="question">
    <td class="question calc">
      6. Reason for applying to a project
      <table>
        <tr>
          <td class="poor">Poor</td>
          <td><%= radio_button :evaluation, :reason, 1 %><label>1</label></td>
          <td><%= radio_button :evaluation, :reason, 2 %><label>2</label></td>
          <td><%= radio_button :evaluation, :reason, 3 %><label>3</label></td>
          <td><%= radio_button :evaluation, :reason, 4 %><label>4</label></td>
          <td><%= radio_button :evaluation, :reason, 5 %><label>5</label></td>
          <td><%= radio_button :evaluation, :reason, 6 %><label>6</label></td>
          <td><%= radio_button :evaluation, :reason, 7 %><label>7</label></td>
          <td class="great">Great</td>
        </tr>
      </table>  
    </td>
    <td class="weight"><%= SpEvaluation::REASON %></td>
    <td class="score"><%= @evaluation.reason_score %></td>
  </tr>
  <tr class="question">
    <td class="question calc">
      7. Social Maturity
      <table>
        <tr>
          <td class="poor">Poor</td>
          <td><%= radio_button :evaluation, :social_maturity, 1 %><label>1</label></td>
          <td><%= radio_button :evaluation, :social_maturity, 2 %><label>2</label></td>
          <td><%= radio_button :evaluation, :social_maturity, 3 %><label>3</label></td>
          <td><%= radio_button :evaluation, :social_maturity, 4 %><label>4</label></td>
          <td><%= radio_button :evaluation, :social_maturity, 5 %><label>5</label></td>
          <td><%= radio_button :evaluation, :social_maturity, 6 %><label>6</label></td>
          <td><%= radio_button :evaluation, :social_maturity, 7 %><label>7</label></td>
          <td class="great">Great</td>
        </tr>
      </table>  
    </td>
    <td class="weight"><%= SpEvaluation::SOCIAL_MATURITY %></td>
    <td class="score"><%= @evaluation.social_maturity_score %></td>
  </tr>
  <tr class="question">
    <td class="question calc">
      8. Amount of CCC involvement
      <table>
        <tr>
          <td class="poor">Poor</td>
          <td><%= radio_button :evaluation, :ccc_involvement, 1 %><label>1</label></td>
          <td><%= radio_button :evaluation, :ccc_involvement, 2 %><label>2</label></td>
          <td><%= radio_button :evaluation, :ccc_involvement, 3 %><label>3</label></td>
          <td><%= radio_button :evaluation, :ccc_involvement, 4 %><label>4</label></td>
          <td><%= radio_button :evaluation, :ccc_involvement, 5 %><label>5</label></td>
          <td><%= radio_button :evaluation, :ccc_involvement, 6 %><label>6</label></td>
          <td><%= radio_button :evaluation, :ccc_involvement, 7 %><label>7</label></td>
          <td class="great">Great</td>
        </tr>
      </table>  
    </td>
    <td class="weight"><%= SpEvaluation::CCC_INVOLVEMENT %></td>
    <td class="score"><%= @evaluation.ccc_involvement_score %></td>
  </tr>
  <tr>
    <td>TOTAL SCORE</td>
    <td></td>
    <td id="total_score"><span><%= @evaluation.total_score %></span></td>
  </tr>                
</table>
  


<table class="datatable">
  <thead>
    <tr>
      <th>Disqualifying Factors</th>
      <th colspan="2" class="tally">Check if applies</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="question">1. Charismatic involvement</td>
      <td><%= radio_button :evaluation, :charismatic, true %><label>Yes</label></td>
      <td><%= radio_button :evaluation, :charismatic, false %><label>No</label></td>
    </tr>
    <tr>
      <td class="question">2. Moral Problem</td>
      <td><%= radio_button :evaluation, :morals, true %><label>Yes</label></td>
      <td><%= radio_button :evaluation, :morals, false %><label>No</label></td>
    </tr>
    <tr>
      <td class="question">3. Drug or alcohol problem</td>
      <td><%= radio_button :evaluation, :drugs, true %><label>Yes</label></td>
      <td><%= radio_button :evaluation, :drugs, false %><label>No</label></td>
    </tr>
    <tr>
      <td class="question">4. Bad attitude toward evangelism</td>
      <td><%= radio_button :evaluation, :bad_evangelism, true %><label>Yes</label></td>
      <td><%= radio_button :evaluation, :bad_evangelism, false %><label>No</label></td>
    </tr>
    <tr>
      <td class="question">5. Unresponsive to authority</td>
      <td><%= radio_button :evaluation, :authority, true %><label>Yes</label></td>
      <td><%= radio_button :evaluation, :authority, false %><label>No</label></td>
    </tr>
    <tr>
      <td class="question">6. Eating Disorder</td>
      <td><%= radio_button :evaluation, :eating, true %><label>Yes</label></td>
      <td><%= radio_button :evaluation, :eating, false %><label>No</label></td>
    </tr>
  </tbody>
</table>  

<div class="actionwrap">
<input type="submit" value="Save" class="savebut">
</div>    


<% end %>
<div class="clear"></div>