<h1>References</h1>
<ul>
  <% @elements.each do |element| %>
    <% if element.reuseable? %>
      <li>
        <label class="desc"><%= raw element.label %></label>
        <% if element.kind == "QuestionGrid" && element.cols.to_s.split(';').length < 1 -%>
          <% headers = element.cols.to_s.split(';') %>
          <% if headers[0].to_s.strip.present? %>
            <div class="header"><%= headers[0] %></div>
          <% end %>
          <table>
            <!-- header row -->
            <tr>
              <td></td>
              <% element.elements.each do |grid_element| -%>
                <td><%= grid_element.label %></td>
              <% end %>
            </tr>
            <% @references.each do |reference| %>
              <tr>
                <td class="col1"><%= reference.question.label.split(/:| \(/).first %>: </td>
                <% element.elements.each do |grid_element| -%>
                  <td><%= render 'collated_element', :element => grid_element, :answer_sheet => reference %></td>
                <% end %>
              </tr>
            <% end %>
          </table>
        <% else %>
          <table>
            <% @references.each do |reference| %>
              <% if !element.question? || element.object_name.present? || reference.has_answer_for?(element.id)  %>
                <tr>
                  <td class="col1"><%= reference.question.label.split(/:| \(/).first %>: </td>
                  <td><%= render 'collated_element', :element => element, :answer_sheet => reference %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>