<h1>References</h1>
<ul id="referencesview">
  <% @elements.each do |element| %>
    <% if element.reuseable? %>
      <li>
        <label class="desc"><%= raw element.label %></label>
        <div class="tablebgwrap">
        <% if element.kind == "QuestionGrid" && element.cols.to_s.split(';').length < 1 -%>
          <% headers = element.cols.to_s.split(';') %>
          <% if headers[0].to_s.strip.present? %>
            <div class="header"><%= headers[0] %></div>
          <% end %>
          
          <table>
            <!-- header row -->
            <tr class="headerrow">
              <td class="titlerow"></td>
              <% element.elements.each do |grid_element| -%>
                <td>
                  <%= grid_element.label %>
                </td>
              <% end %>
            </tr>
            <% @references.each do |reference| %>
              <% if element.elements.detect {|e| e.object_name.present?} || element.elements.detect {|e| reference.has_answer_for?(e.id)} %>
                <tr>
                  <td class="col1" nowrap="nowrap">
                    <% if sp_user.can_edit_references? %>
                      <%= link_to(reference.display_type + ':', edit_reference_sheet_url(reference, :a => reference.access_key), :target => '_blank') %>
                    <% else %>
                      <%= reference.display_type %>: 
                    <% end %>
                  </td>
                  <% element.elements.each do |grid_element| -%>
                    <td><%= render 'collated_element', :element => grid_element, :answer_sheet => reference %></td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </table>
  
        <% else %>
          <table>
            <% @references.each do |reference| %>
              <% if !element.question? || element.object_name.present? || reference.has_answer_for?(element.id)  %>
                <tr>
                  <td class="col1" nowrap="nowrap"><%= reference.question.label.split(/:| \(/).first %>: </td>
                  <td><%= render 'collated_element', :element => element, :answer_sheet => reference %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
        <% end %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
