<div class="row">
  <div class="col-md-3"><br/>
    <%= image_tag('textblock1.png', class: 'img-responsive') %>
    <%= image_tag('text-dots.png', class: 'img-responsive') %><br/>
    <%= image_tag('textblock2.png', class: 'img-responsive') %><br/>
    <%= image_tag('text-dots.png', class: 'img-responsive') %><br/>
    <%= image_tag('textblock3.png', class: 'img-responsive') %>
  </div>
  <div class="col-md-5">
    <% unless logged_in? %>
      <h1>Thanks for your interest in our summer projects!</h1>
      <p class="text-justify">Summer Projects are a great way to grow in your faith, learn new skills and see what God is doing outside of the university campus!
      <a href="https://www.studentlife.org.nz/about-projects/">Find more info about our projects here.</a></p>
      <%= image_tag('text-dots.png', class: 'img-responsive') %>
      <h1>Experience a new Adventure</h1>
      <p class="text-justify">It all begins with a step of faith. Get started by applying for a summer mission project! Get ready to discover God’s heart for the people of the world. The possibilities are endless, and the adventure awaits!</p>
    <% end %>
  </div>
  <div class="col-md-4 box box-orange">
      <h1 class="box-title">Apply for a Project</h1>
      <br/>
      <p class="text-justify">To apply for a project, or continue your application, you need to log in! We recommend you use the Facebook option. If you don't have a Facebook please sign up for a Key Account.</p>
      <br/>
      <%= image_tag('text-dots.png', class: 'img-responsive') %>
      <br/>
      <% if @authentications || logged_in? %>
      <% unless @authentications.empty? && current_user.globallyUniqueID.blank?  %>
        <div id="currentservices">
          <h3>You are setup for access with these services:</h3>
          <div class="authentications">
            <% if current_user.globallyUniqueID.present? %>
              <div class="authentication">
                <%= image_tag "relay.png", :size => "32x32" %>
                <div class="provider">Relay</div>
              </div>
            <% end %>
            <% for authentication in @authentications %>
              <div class="authentication">
                <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
                <div class="provider"><%= authentication.provider_name %></div>
                <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
              </div>
            <% end %>
            <div class="clear"></div>
          </div>
        </div>
      <% end %>
      <div class="text-center">
        <h5>Add another service to sign in with</h5>
    <% else %>
      <div class="text-center">
        <h5>Sign in through these services</h5>
    <% end %>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
        <!-- <a href="/auth/twitter" class="auth_provider">
          <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
          Twitter
        </a> -->
        <a href="/auth/facebook" class="btn btn-lg btn-social btn-facebook btn-block">
        <%= fa_icon 'facebook' %>
          Sign in with Facebook
          <!--%= image_tag "facebook-sign-in.png", :alt => "Facebook" %-->
        </a>
        <a href="<%= CASClient::Frameworks::Rails::Filter.login_url(controller) %>" class="btn btn-lg btn-social btn-github btn-block">
        <%= fa_icon 'key' %>
          Sign in with The Key
          <!--%= image_tag "relay-sign-in.png", :alt => "Relay" %-->
        </a>
        <!-- ><a href="/auth/google_apps" class="auth_provider">
          <%= image_tag "google_apps_64.png", :size => "64x64", :alt => "Google" %>
          Google
        </a> -->
        </div>
      </div>
    </div>
  </div>
</div>
