<div class="pagepad">
<h1>Dashboard</h1>
<div id="contextmenu">
</div>

<div class="dashboardlist">

  <table>
    <tr>
      <th></th>
      <th><%= link_to('Project', '', :class => 'headers sortable') %></th>
      <th><%= link_to('Location', '', :class => 'headers sortable') %></th>
      <th><%= link_to('PD', '', :class => 'headers sortable') %></th>
      <th><%= link_to('APD', '', :class => 'headers sortable') %></th>
      <th><%= link_to('OPD', '', :class => 'headers sortable') %></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>25/50</td>
      <td><%= link_to('Boston Chinese Project', '') %><span class="mvmt">Bridges</span><%= link_to('Edit', '', :class => 'inline edit') %></td>
      <td>United States</td>
      <td><%= link_to('James Harzanderbald', '') %><%= link_to('Edit', '', :class => 'inline edit') %><%= link_to('Delete', '', :class => 'inline delete') %></td>
      <td><%= link_to('James Harzanderbald', '') %><%= link_to('Edit', '', :class => 'inline edit') %><%= link_to('Delete', '', :class => 'inline delete') %></td>
      <td><%= link_to('James Harzanderbald', '') %><%= link_to('Edit', '', :class => 'inline edit') %><%= link_to('Delete', '', :class => 'inline delete') %></td>
      <td><%= link_to('Stats', '', :class => 'inline stats') %></td>
      <td><%= link_to('Close', '', :class => 'inline close') %></td>
    </tr>

</div>

<div class="dashboardfooter">
  <%#= will_paginate %>
</div>
</div>