<%= form_tag admin_leaders_path, :id => 'create_leader_form' do %>
  <%= hidden_field_tag :leader, params[:leader] %>
  <%= hidden_field_tag :person_id, params[:person_id], :id => 'leader_search_person_id' %>
  <%= hidden_field_tag :project_id, params[:project_id] %>
  <ul>
    <% @people.each do |person| %>
      <li><a href='#' class="new_leader" data-id="<%= person.id %>"><%= person %> (<%= person.user.try(:username) %>)
        <%= person.staff.present? ? ' <b>(STAFF)</b>'.html_safe : '' %></a></li>
    <% end %>
  </ul>
  <% if @total > @people.length %>
    <span style="font-size: 11px;">Showing <%= @people.length %> of <%= @total %> matches, keep typing or
      <%= link_to('click here to show all', '#', :class => 'search_show_all_link') %></span>
  <% end %>
  <%= link_to('If the person you are looking for is not already in the system, click here to add them',
              new_admin_leader_path(params.slice(:leader, :name, :project_id)), :remote => true, :class => 'AddNewPerson') %>
<% end %>