<div class="hybriddrop hybriddropinline">
  <div class="dropdowncontents" id="yeardrop">
  <%= link_to(@year, '#', :class => 'down withicon', :id => "changeyear") %>
    <ul id="year_list">
      <% @project.year.downto(2005) do |year| %>
        <li><%= link_to(year, params.dup.merge!({:year => year})) %></li>
      <% end %>
    </ul>
  </div>
  <h1><%= @project %></h1>
</div>

<div id="contextmenu">
  <ul class="left">
    <li><%= link_to('Edit Project', edit_admin_project_path(@project), :class => 'edit withicon') %></li>
    <li><%= link_to('Download Team DB', download_admin_project_path(@project, :year => @year), :class => 'excel withicon') %></li>
    <!-- <li><%= link_to('Send Email', email_admin_project_path(@project), :class => 'email withicon', :id => 'sendemailopen') %></li> -->
    <li><%= stat_link(@project, @project, 'Enter Stats', :class => 'stats withicon') %></li>
    <!-- <li><%= link_to('Add an Applicant', new_admin_application_path, :class => 'person withicon') %></li> -->
  </ul>  
  <div class="clear"></div>
</div>