<%# encoding: utf-8 %>
<div class="left">
  <%= error_messages_for :project %>
  <div id="tabs">
    <ul class="tabs">
      <li><%= link_to('goSP.com', '#goSPTab') %></li>
      <li><%= link_to('Application', '#applicationTab') %></li> 
      <li><%= link_to('Contact', '#contactTab') %></li> 
      <li><%= link_to('Operations', '#operationsTab') %></li> 
    </ul>
    
        
    <div class="tabcontent" id="goSPTab">
      <p>
        The fields on this page are directly linked to the gosummerproject.com website. Changes made on this page will immediately show up on the website once you click the Save button.
      </p>
    
      <hr />
      <div class="field" class="required">
        <%= f.label :name, 'Project Name' %>
        <%= f.text_field :name %>
      </div>
      
      <div class="field" class="required">
        <%= f.label :display_location, 'Location' %>
        <%= f.text_field :display_location %>
        <%= tip('(ie. "Ocean City, NJ", "Middle East", etc.)') %>
      </div>
      
      <div class="multifield">
        <div class="field">
          <%= f.label :start_date, 'Project Start Date' %>
          <%= calendar_date_select_tag 'sp_project[start_date]', @project.start_date %>
        </div>
        
        <div class="field">
          <%= f.label :end_date, 'Project End Date' %>
          <%= calendar_date_select_tag 'sp_project[end_date]', @project.end_date %>
        </div>
        <div class="clear"></div>
      </div>

      <div class="field select">
        <%= f.label :primary_ministry_focus_id %>
        <%= f.select :primary_ministry_focus_id, SpMinistryFocus.all.collect {|sf| [sf.name, sf.id]}, :include_blank => true %>
      </div>
      
      <div class="field checkvertical">
        <label>Other ministry foci:</label>
        <div class="checkboxes">
          <% SpMinistryFocus.all.each do |sf| %>
            <div id="sp_project_ministry_focus_ids_<%= sf.id %>_row" class="<%= 'selected' if !@project.new_record? && @project.ministry_focuses.include?(sf) %>">
              <input type="checkbox" name="sp_project[ministry_focus_ids][]" id="sp_project_ministry_focus_ids_<%= sf.id %>" value="<%= sf.id %>" <%= !@project.new_record? && @project.ministry_focuses.include?(sf) ? 'checked="checked"' : '' %>>
              <%= f.label "ministry_focus_ids_#{sf.id}", sf.name %>
            </div>
          <% end %>
        </div>
      </div>
      
      <hr />
      
      <div class="field">
        <%= f.label :url, 'Website Address' %>
        <%= f.text_field :url %>
        <%= tip('(i.e. www.gomets.org/summerproject/ or http://www.myproject.com)') %>
      </div>
      <div class="field">
        <%= f.label :url_title, 'Website Title' %>
        <%= f.text_field :url_title %>
        <%= tip('(The actual words of the link they will click on to go to the website enter above. Default is "Project specific website")') %>
      </div>
      
      <div class="field">
        <%= f.label :facebook_url, 'Facebook Group link' %>
        <%= f.text_field :facebook_url %>
      </div>
      
      <div class="multifield">
        <div class="field">
          <%= f.label :blog_url, 'Blog Address' %>
          <%= f.text_field :blog_url %>
        </div>
        <div class="field">
          <%= f.label :blog_title, 'Blog Title' %>
          <%= f.text_field :blog_title %>
        </div>
        <div class="clear"></div>
      </div>
      
      <div class="field">
        <%= f.label :student_cost %>
        <%= f.text_field :student_cost %>
      </div>
      
      <div class="field multitext">
        <%= f.label :max_accepted_men, 'Max Number of Participants' %>
        <%= f.text_field :max_accepted_men, :class => 'small' %> men &nbsp;&nbsp;
        <%= f.text_field :max_accepted_women, :class => 'small' %> women
        <%= tip("#s won't show up on websites, but % will be highlighted on map, affects if project will show up in list of options") %>
      </div>
      
      <hr />
      
      <div class="field">
        <%= f.label :description, 'Project Description' %>
        <%= f.text_area(:description, :cols => 90, :rows => 10, :class => 'mceEditor') %>
      </div>
      <div class="inlinetip">
        <div id="explain1" class="explanation">
          <b>Remember – students will want to know what it is like to be on your
    			project – help them experience that in your by casting vision for your project.  See the examples below to help you get good ideas for your project description.</b><br /><br />
    			<b><u>Things to include in your desciption:</u></b><br>
    			<ul><li>Introduce the project and build vision.</li></ul>
    			<span class="sub">Daytona Beach Summer Project is located right on the "World's Most Famous Beach." It is a destination spot for thousands over the Summer and Spring Break and it's about an hour's drive from all the attractions in Orlando. Campus Crusade has had a long history at Daytona Beach. The Summer Project has been active there for over 30 summers… (Daytona)
    			<br /><br />
    			The country we are going to is the largest unreached nation in the world according to Operation World. Their are 73 million people and only an estimated 2,000 believers… (4th Journey)
    			<br /><br /></span>
    			<ul><li>Mention various training students will receive on this project, ways they will be invested in, or how they will return to campus equipped for ministry.</li></ul>
    			<span class="sub">We will also train you in how to reach internationals from many different people groups and religions in your own settings. (New York Tribeca – Bridges)
    			<br /><br />
    			We will do lots of evangelism and follow-up, along with plenty of relationship building and encouraging of local Aussie students. Project participants will be able to take the training and experience directly back to their campuses in the US. Join us down under as we reach out to Australian students and help to establish campus ministries. (Australia – Melbourne)
    			<br /><br /></span>
    			<ul><li>Ministry Focus Details – help them experience what the outreach they will be doing looks like.</li></ul>
    			<span class="sub">One of the strategic aspects of our outreaches is that each summer graduating seniors from the surrounding states come to Ocean City, so we find ourselves talking to next year's freshman class! (Ocean City)
    			<br /><br />
    			We will be taking some Russian Class, building relationships with students on campus,and inviting them to learn English with us. Through these relationships, we'll have an opportunity to share our faith.  (Russia, RR)
    			</span>
        </div>
        <span id="readmoreless" rel="explain1">Read More</span>
      </div>
      <% @project.student_quotes.each_with_index do |quote, i| %>
        <%= f.fields_for :student_quotes, quote do |sqf| %>
          <div class="multifield" style="<%= (i != 0 && quote.quote.blank?) ? 'display:none' : '' -%>" id="quote_<%= i %>">
            <label>Add student/human quotes</label>
            <div class="field quote">
              <div>
                <%#= sqf.check_box :_destroy  %>
                <%= link_to(image_tag('/images/icons/slash.png') + "Delete this quote", '', :class => 'deletequote') %>
                <%= sqf.text_field :name %>
              </div>
              <%= sqf.text_area(:quote, :cols => 60, :rows => 5) %>
            </div>
            <div class="clear"></div>
            <% unless i == 2 || @project.student_quotes[i+1].try(:quote).present?%>
              <%= link_to_function(image_tag('/images/icons/plus-small.png') + 'Add another quote', "$(this).hide();$('#quote_#{i+1}').show()", :class => 'addanother') %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    
      <div class="field">
        <label for="sp_project_picture">Project Picture</label>
        <%#= f.file_field :picture %>
        <% if @project.picture_uid.present? %>
          <div class="picture"><%#= image_tag(@project.picture.thumb('100x100#').url) %></div>
        <% end %>
      </div>
    
      <div class="field">
        <label for="sp_project_picture">Project Logo</label>
        <%#= f.file_field :logo %>
        <% if @project.logo_uid.present? %>
          <div class="picture"><%#= image_tag(@project.picture.thumb('100x100#').url) %></div>
        <% end %>
      </div>
      
      <button class="save"><span>Save</span></button>
      
    </div>
    
    <div class="tabcontent" id="applicationTab">
      <div class="field">
        <%= f.label :partner_region_only, 'Accept from Partner Region(s) Only' %>
        <%= f.select :partner_region_only, [['No',false],['Yes',true]] %>
      </div>
      <div class="field">
        <%= f.label :use_provided_application, 'Are you using the USCM Summer Project Online Application we provide?' %>
        <%= f.select :use_provided_application, [['No',false],['Yes',true]] %>
      </div>
      <div class="field" class="required">
        <%= f.label :apply_by_date, 'Date Students Must Apply By' %>
        <%= calendar_date_select_tag 'sp_project[apply_by_date]', @project.apply_by_date %>
      </div>
      <button class="save"><span>Save</span></button>
    
    
    </div>  
    
    <div class="tabcontent" id="contactTab">
      <div class="field">
        <h3>Contact Info During Project</h3>
        <%= tip('This person must be available in the United States to field calls during the project duration') %>
      </div>
      <div class="field">
        <%= f.label :project_contact_name, "Name" %>
        <%= f.text_field :project_contact_name %>
      </div>
      <div class="field">
        <%= f.label :project_contact_role, "Project Role" %>
        <%= f.select :project_contact_role, SpContactRoles.all, :include_blank => true %>
      </div>
      <div class="field">
        <%= f.label :project_contact_phone, "Phone" %>
        <%= f.text_field :project_contact_phone %>
      </div>
      <div class="field">
        <%= f.label :project_contact_email, "Email" %>
        <%= f.text_field :project_contact_email %>
      </div>


      <h3>Project Location</h3>
      <div class="field" class="required">
        <%= f.label :city %>
        <%= f.text_field :city %>
      </div>
      <div class="field">
        <%= f.label :state %>
        <%= f.select :state, State::NAMES + ['Ontario'], :include_blank => true %>
      </div>
      <div class="field" class="required">
        <%= f.label :country %>
        <%= f.select :country, @countries.collect {|c| [c.country]}, :include_blank => true %>
      </div>
      <div class="field" class="required">
        <%= f.label :aoa, 'Region of the world' %>
        <%= f.select :aoa, Aoa.all.collect {|a| [a.name]}, :include_blank => true %>
      </div>
      <div class="multifield">
        <div class="field">
          <%= f.label :staff_start_date %>
          <%= calendar_date_select_tag 'sp_project[staff_start_date]', @project.staff_start_date %>
        </div>
        <div class="field">
          <%= f.label :staff_end_date %>
          <%= calendar_date_select_tag 'sp_project[staff_end_date]', @project.staff_end_date %>
        </div>
        <div class="clear"></div>
      </div>
      <hr />
      <h3>Travel Information (International Only)</h3>
      <div class="multifield">
        <div class="field">
          <%= f.label :departure_city, 'US City you are Departing From' %>
          <%= f.text_field :departure_city %>
        </div>
        <div class="field">
          <%= f.label :destination_city, "Int'l City you are Flying To" %>
          <%= f.text_field :destination_city %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="multifield">
        <div class="field">
          <%= f.label :date_of_departure, 'Date of Departure from the US' %>
          <%= calendar_date_select_tag 'sp_project[date_of_departure]', @project.date_of_departure %>
        </div>
        <div class="field">
          <%= f.label :date_of_return, 'Date of Arrival in the US' %>
          <%= calendar_date_select_tag 'sp_project[date_of_return]', @project.date_of_return %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="field">
        <%= f.label :in_country_contact %>
        <%= f.text_area :in_country_contact, :cols => 90, :rows => 10 %>
        <%= tip('Name, relationship to project, phone number(s), email, address') %>
      </div>
      
      <button class="save"><span>Save</span></button>
    
    </div>
      
    <div class="tabcontent" id="operationsTab">
      <div class="field checkvertical">
        <label>Gospel in Action</label>
        <div class="checkboxes">
        <% SpGospelInAction.all.each do |ga| %>
          <div class="<%= 'selected' if !@project.new_record? && @project.gospel_in_actions.include?(ga) %>">
            <input type="checkbox" name="sp_project[gospel_in_aciton_ids][]" id="sp_project_gospel_in_action_ids_<%= ga.id %>" value="<%= ga.id %>" <%= !@project.new_record? && @project.gospel_in_actions.include?(ga) ? 'checked="checked"' : '' %>>
            <%= f.label "gospel_in_action_ids_#{ga.id}", ga.name %>
          </div>
        <% end %>
        </div>
      </div>
      <div class="field" class="required">
        <%= f.label :primary_partner %>
        <%= partnership_select(:project, :primary_partner, [:regions, :ministries]) %>
      </div>
      <div class="field">
        <%= f.label :secondary_partner %>
        <%= partnership_select(:project, :secondary_partner, [:regions, :ministries]) %>
      </div>
      <div class="field">
        <%= f.label :tertiary_partner %>
        <%= partnership_select(:project, :tertiary_partner, [:regions, :ministries]) %>
      </div>
      <div class="field" class="required">
        <%= f.label :report_stats_to, 'Report evangelism stats to' %>
        <%= f.select(:report_stats_to, ['Campus Ministry - US summer project','Campus Ministry - WSN summer project','Other CCC ministry'], { :include_blank => true }) %>
      </div>
      <div class="field">
        <%= f.label :staff_cost %>
        <%= f.text_field :staff_cost %>
      </div>
      <div class="field">
        <%= f.label :intern_cost %>
        <%= f.text_field :intern_cost %>
      </div>
      
      <hr />
      <h3>Operating Account Information</h3>
      
      <div class="field">
        <%= f.label :operating_business_unit, 'Business Unit' %>
        <%= f.text_field :operating_business_unit %>
      </div>
      <div class="field">
        <%= f.label :operating_operating_unit, 'Operating Unit' %>
        <%= f.text_field :operating_operating_unit %>
      </div>
      <div class="field">
        <%= f.label :operating_department, 'Department ID' %>
        <%= f.text_field :operating_department %>
      </div>
      <div class="field">
        <%= f.label :operating_project, 'Project ID' %>
        <%= f.text_field :operating_project %>
      </div>
      <div class="field">
        <%= f.label :operating_designation, 'Operating Designation' %>
        <%= f.text_field :operating_designation %>
      </div>
      
      <hr />
      <h3>Scholarship Account Information</h3>
    
      <div class="field">
        <%= f.label :scholarship_business_unit, 'Business Unit' %>
        <%= f.text_field :scholarship_business_unit %>
      </div>
      <div class="field">
        <%= f.label :scholarship_operating_unit, 'Operating Unit' %>
        <%= f.text_field :scholarship_operating_unit %>
      </div>
      <div class="field">
        <%= f.label :scholarship_department, 'Department ID' %>
        <%= f.text_field :scholarship_department %>
      </div>
      <div class="field">
        <%= f.label :scholarship_project, 'Project ID' %>
        <%= f.text_field :scholarship_project %>
      </div>
      <div class="field">
        <%= f.label :scholarship_designation, 'Operating Designation' %>
        <%= f.text_field :scholarship_designation %>
      </div>
      <button class="save"><span>Save</span></button>
    
    </div> 
  </div>


</div><!-- left -->  