<div class="left">
  <%= error_messages_for :project %>
  <div id="tabs">
    <ul class="tabs">
      <li><%= link_to('Accepted Applicants', '#accapp') %></li>
      <li><%= link_to('Accepted Interns', '#accint') %></li> 
      <li><%= link_to('Ready to Evaluate', '#ready') %></li> 
      <li><%= link_to('Submited (Not Ready)', '#submitted') %></li> 
    </ul>
    
    <div class="tabcontent" id="accapp">
      <table class="people">
        <tr>
          <th class="gender"></th>
          <th class="name sort_up">Name</th>
          <th class="email"></th>
          <th class="campus">Campus</th>
          <th class="accdate">Accepted</th>
          <th class="balance">Balance</th>
          <th class="designation">Designation</th>
        </tr>
        <tr>
          <td class="gender"><%= image_tag('icons/user.png') %></td>
          <td class="name"><%= link_to('James McBillibuddies', '') %></td>
          <td class="email"><%= link_to(image_tag('icons/mail.png'), 'mailto:') %></td>
          <td class="campus">University of Graphington</td>
          <td class="accdate">Jan 29, 1982</td>
          <td class="balance">$1912.00</td>
          <td class="designation">5562510</td>
        </tr>
        <tr>
          <td class="gender"><%= image_tag('icons/user-female.png') %></td>
          <td class="name"><%= link_to('Jennifer Grendalhaze' , '') %></td>
          <td class="email"><%= link_to(image_tag('icons/mail.png'), 'mailto:') %></td>
          <td class="campus">University of Graphington</td>
          <td class="accdate">Jan 29, 1982</td>
          <td class="balance">$1912.00</td>
          <td class="designation">5562510</td>
        </tr>
        <tr>
          <td class="gender"><%= image_tag('icons/user.png') %></td>
          <td class="name"><%= link_to('James McBillibuddies', '') %></td>
          <td class="email"><%= link_to(image_tag('icons/mail.png'), 'mailto:') %></td>
          <td class="campus">University of Graphington</td>
          <td class="accdate">Jan 29, 1982</td>
          <td class="balance">$1912.00</td>
          <td class="designation">5562510</td>
        </tr>
        <tr>
          <td class="gender"><%= image_tag('icons/user-female.png') %></td>
          <td class="name"><%= link_to('Jennifer Grendalhaze' , '') %></td>
          <td class="email"><%= link_to(image_tag('icons/mail.png'), 'mailto:') %></td>
          <td class="campus">University of Graphington</td>
          <td class="accdate">Jan 29, 1982</td>
          <td class="balance">$1912.00</td>
          <td class="designation">5562510</td>
        </tr>
        <tr>
          <td class="gender"><%= image_tag('icons/user.png') %></td>
          <td class="name"><%= link_to('James McBillibuddies', '') %></td>
          <td class="email"><%= link_to(image_tag('icons/mail.png'), 'mailto:') %></td>
          <td class="campus">University of Graphington</td>
          <td class="accdate">Jan 29, 1982</td>
          <td class="balance">$1912.00</td>
          <td class="designation">5562510</td>
        </tr>
        <tr>
          <td class="gender"><%= image_tag('icons/user-female.png') %></td>
          <td class="name"><%= link_to('Jennifer Grendalhaze' , '') %></td>
          <td class="email"><%= link_to(image_tag('icons/mail.png'), 'mailto:') %></td>
          <td class="campus">University of Graphington</td>
          <td class="accdate">Jan 29, 1982</td>
          <td class="balance">$1912.00</td>
          <td class="designation">5562510</td>
        </tr>
        <tr>
          <td class="gender"><%= image_tag('icons/user.png') %></td>
          <td class="name"><%= link_to('James McBillibuddies', '') %></td>
          <td class="email"><%= link_to(image_tag('icons/mail.png'), 'mailto:') %></td>
          <td class="campus">University of Graphington</td>
          <td class="accdate">Jan 29, 1982</td>
          <td class="balance">$1912.00</td>
          <td class="designation">5562510</td>
        </tr>
        <tr>
          <td class="gender"><%= image_tag('icons/user-female.png') %></td>
          <td class="name"><%= link_to('Jennifer Grendalhaze' , '') %></td>
          <td class="email"><%= link_to(image_tag('icons/mail.png'), 'mailto:') %></td>
          <td class="campus">University of Graphington</td>
          <td class="accdate">Jan 29, 1982</td>
          <td class="balance">$1912.00</td>
          <td class="designation">5562510</td>
        </tr>
      </table>
      
    </div>
    
    <div class="tabcontent" id="accint">
    
    </div>
    
    <div class="tabcontent" id="ready">
    
    </div>
    
    <div class="tabcontent" id="submitted">
    
    </div> 
  </div>


</div><!-- left -->  