  <div class="right sidebar">
  
   <div class="module applicantdata">
      <h3>Applicant Data</h3>
      <table>
        <tr>
          <td class="titlefield"></td>
          <td class="icon"><%= link_to(image_tag('icons/user.png'), 'mailto:') %></td>
          <td class="icon"><%= link_to(image_tag('icons/user-female.png'), '') %></td>
          <td class="total">Total</td>
        </tr>
        <tr>
          <td class="">Applicants</td>
          <td class="icon"><%= project.current_applicants_men.to_i %></td>
          <td class="icon"><%= project.current_applicants_women.to_i %></td>
          <td class="total"><%= project.current_applicants_men.to_i + project.current_applicants_women.to_i %></td>
        </tr>
        <tr>
          <td class="">Participants</td>
          <td class="icon"><%= project.current_students_men.to_i %></td>
          <td class="icon"><%= project.current_students_women.to_i %></td>
          <td class="total"><%= project.current_students_men.to_i + project.current_students_women.to_i %></td>
        </tr>
      </table>
    </div>
  
  
    <div class="module">
      <h3>Project Leaders</h3>
      <table>
        <% [:pd,:apd,:opd, :coordinator].each do |leader|
          person = project.send(leader) -%>
          <tr>
            <td><%= leader.to_s.titleize %></td>
            <td class="name sidebar"><%= render 'leader', :project => project, :leader => leader %></td>
          </tr>
        <% end %>
      </table>
    </div>
    
    <% %w{staff volunteers kids}.each do |level| %>
      <div class="module <%= level %>">
        <h3>
          <%= level.titleize %> (<%= project.send(level.to_sym, @year).length %>) 
          <span class="controls"><a href="" class="add">Add</a></span>
        </h3>
        <table class="stafflist">
          <tbody id="<%= level.singularize %>_list">
            <% project.send(level.to_sym, @year).each do |person| %>
              <%= render 'admin/projects/staff', :person => person, :level => level.singularize %>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    
  
  </div>
  <%= render :partial => 'leader_form' %>