  <div class="right sidebar">

   <div class="module applicantdata">
      <h3><span>Applicant Data</span></h3>
      <table>
        <tr>
          <td class="titlefield"></td>
          <td class="icon"><%= image_tag('icons/user.png') %></td>
          <td class="icon"><%= image_tag('icons/user-female.png') %></td>
          <td class="total">Total</td>
        </tr>
        <tr>
          <td class="">Applicants</td>
          <td class="icon"><%= project.male_applicants_count(@year).to_i %></td>
          <td class="icon"><%= project.female_applicants_count(@year).to_i %></td>
          <td class="total"><%= project.male_applicants_count(@year).to_i + project.female_applicants_count(@year).to_i %></td>
        </tr>
        <tr>
          <td class="">Participants</td>
          <td class="icon"><%= project.male_accepted_count(@year).to_i %></td>
          <td class="icon"><%= project.female_accepted_count(@year).to_i %></td>
          <td class="total"><%= project.male_accepted_count(@year).to_i + project.female_accepted_count(@year).to_i %></td>
        </tr>
      </table>
    </div>


    <div class="module">
      <h3><span>Project Leadership Team <%= tip('The first PD listed generally evaluates male applications and the second PD listed generally evaluates female applications. OPD stands for Operations Project Director.') %></span></h3>
      <table>
        <% [:pd, :apd, :opd, :coordinator].each do |leader| -%>
          <tr>
            <!-- APD is now displayed as PD -->
            <td><%= [:pd, :apd, :opd].include?(leader) ? [:apd].include?(leader) ? 'PD' : leader.upcase : leader.to_s.titleize %></td>
            <td class="name sidebar"><%= render 'leader', :project => project, :leader => leader, :year => @year %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <% %w{staff volunteers kids evaluators non_app_participants}.each do |level| %>
      <div class="module <%= level %>">
        <h3>
          <span><%= level.titleize %> (<%= project.send(level.to_sym, @year).length %>) <%= tip("Add students here who, for some reason, will not be applying through the on-line application, but need a designation number and enrollment into project insurance/SOS. In the box that appears, click the blue cross and add the student information. Their names and information will then appear in the \"Other\" tab. Be sure to click on the student's name after it has been created and complete all the extra fields, except designation number (leave it blank).") if level == "non_app_participants" %></span>
          <% if sp_user.can_edit_project?(project) %>
            <span class="controls"><%= link_to('Add', '#', :class => 'add edit-leader', 'data-name' => "Add a #{level.singularize.titleize}", 'data-id' => project.id, 'data-leader' => level.singularize) %></span>
          <% end %>
        </h3>
        <table class="stafflist">
          <tbody id="<%= level.singularize %>_list">
            <% project.send(level.to_sym, @year).each do |person| %>
              <%= render 'admin/projects/staff', :project => @project, :person => person, :level => level.singularize %>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    <% if sp_user.can_delete_project? %>
      <%= link_to('Delete this project - PERMANENT', admin_project_path, :method => :delete, :confirm => "Are you sure you want to delete this project? This is different than closing a project. It'll be GONE FOR GOOD!") %>
    <% end %>


  </div>
  <%= render :partial => 'leader_form' %>
