  <div class="right sidebar">
  
   <div class="module applicantdata">
      <h3>Applicant Data</h3>
      <table>
        <tr>
          <td class="titlefield"></td>
          <td class="icon"><%= image_tag('icons/user.png') %></td>
          <td class="icon"><%= image_tag('icons/user-female.png') %></td>
          <td class="total">Total</td>
        </tr>
        <tr>
          <td class="">Applicants</td>
          <td class="icon"><%= project.male_applicants_count(@year).to_i %></td>
          <td class="icon"><%= project.female_applicants_count(@year).to_i %></td>
          <td class="total"><%= project.male_applicants_count(@year).to_i + project.female_applicants_count(@year).to_i %></td>
        </tr>
        <tr>
          <td class="">Participants</td>
          <td class="icon"><%= project.male_accepted_count(@year).to_i %></td>
          <td class="icon"><%= project.female_accepted_count(@year).to_i %></td>
          <td class="total"><%= project.male_accepted_count(@year).to_i + project.female_accepted_count(@year).to_i %></td>
        </tr>
      </table>
    </div>
  
  
    <div class="module">
      <h3>Project Leaders</h3>
      <table>
        <% [:pd,:apd,:opd, :coordinator].each do |leader|
          person = project.send(leader) -%>
          <tr>
            <td><%= [:pd,:apd,:opd].include?(leader) ? leader.upcase : leader.to_s.titleize %></td>
            <td class="name sidebar"><%= render 'leader', :project => project, :leader => leader %></td>
          </tr>
        <% end %>
      </table>
    </div>
    
    <% %w{staff volunteers kids evaluators}.each do |level| %>
      <div class="module <%= level %>">
        <h3>
          <%= level.titleize %> (<%= project.send(level.to_sym, @year).length %>) 
          <% if sp_user.can_edit_project?(project) %>
            <span class="controls"><%= link_to('Add', '#', :class => 'add edit-leader', 'data-name' => "Add a #{level.singularize.titleize}", 'data-id' => project.id, 'data-leader' => level.singularize) %></span>
          <% end %>
        </h3>
        <table class="stafflist">
          <tbody id="<%= level.singularize %>_list">
            <% project.send(level.to_sym, @year).each do |person| %>
              <%= render 'admin/projects/staff', :project => @project, :person => person, :level => level.singularize %>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    <% if sp_user.can_delete_project? %>
      <%= link_to('Delete this project', admin_project_path, :method => :delete, :confirm => "Are you sure you want to delete this project?") %>
    <% end %>
    
  
  </div>
  <%= render :partial => 'leader_form' %>