<% person = staff.person %>
<% designations = person.sp_designation_numbers.where(:project_id => @project.id) %>
<% designation = designations.count != 0 ? designations.first.designation_number : "Not Assigned" %>
<tr>
  <td class="gender"><%= image_tag("icons/user-#{person.human_gender.downcase}.png") if person.human_gender.present? %></td>
  <td class="name"><%= link_to(person, '#', :class => 'person', 'data-id' => person.id, 'project-id' => @project.id) %></td>
  <td class="email"><%= mail_to(person.email, image_tag('icons/mail.png')) %></td>
  <td class="campus"><%= person.campus %></td>
  <td class="designation"><%= designation == "" ? "Not Assigned" : designation %></td>
</tr>