<% @projects.each do |project| %>
<tr>
  <td class="count"><%= project.accepted %> / <%= project.capacity %></td>
  <td class="project"><%= link_to(project.name, admin_project_path(project)) %> <%= link_to('Edit', edit_admin_project_path(project), :class => 'inline edit') %></td>
  <% [:pd,:apd,:opd].each do |leader| -%>
		<td class="<%= leader.to_s %>">
			<% l = project.send(leader) 
				if l -%>
					<%=  l.accountNo ? link_to(l, "https://staff.campuscrusadeforchrist.com/servlet/InfoBaseController?action=showStaffInfo&staffid=#{l.accountNo}") : l %>
				<% else %>
				  <%= link_to('') do %>
				    <span class="fillit">(Fill this position)</span>
				  <% end %>
				<% end -%>
			&nbsp;
			<%= link_to('Edit', '', :class => 'inline edit') %><%= link_to('Delete', '', :class => 'inline delete') %>
		</td>
	<% end -%>
  <td class="stats"><%= stat_link(project,project, 'Stats', :class => 'inline stats') %></td>
  <td class="close"><%= link_to('Close', close_admin_project_path(project), :class => 'inline close', :method => :post, :confirm => "Are you sure you want to close #{project}") %></td>
</tr>
<% end %>
