<% @projects.each do |project| %>
<tr class="project_row <%= 'closed' if project.closed? %>">
  <td class="count">
    <div class="rollovershow" style="display:none">
      <% if sp_user.can_change_project_status? %>
        <% if project.closed? %>
          <%= link_to('Open', open_admin_project_path(project), :class => 'inline close', :method => :post, data: {confirm: "Are you sure you want to open #{project}"}) %>
        <% else %>
          <%= link_to('Close', close_admin_project_path(project), :class => 'inline close', :method => :post, data: {confirm: "Are you sure you want to close #{project}"}) %>
        <% end %>
      <% end %>
      <%= link_to('Edit', edit_admin_project_path(project), :class => 'inline edit') if sp_user.can_edit_project?(project) %>
    </div>
    <span title="<%= project.current_students_men.to_i %> men, <%= project.current_students_women.to_i %> women">
      <%= project.accepted_count %>/<%= project.capacity %>
    </span>
  </td>
  <td class="project"><%= link_to(project.name, admin_project_path(project)) %></td>
  <% [:pd,:apd].each do |leader| -%>
    <td><%= render 'leader', :project => project, :leader => leader, :year => project.year %></td>
	<% end -%>
  <td class="stats"><!-- <%= stat_link(project, project, 'Stats', :class => 'inline stats', :title => 'Enter stats for this project') %> --></td>
  <td class="close">

  </td>
</tr>
<% end %>
