<%# encoding: utf-8 %>
      <p>
        The fields on this page are directly linked to the gosummerproject.com website.
        <br/>
        Changes made on this page will immediately show up on the website once you click the Save button.
      </p>

      <p class="legend">
        Fill out the fields in all four tabs. <br/>
      	Fields with the <%= image_tag('required.png') %> are required.
     	</p>

      <hr />
      <div class="field required">
        <%= f.label :name, 'Project Name (Do not use a ";" in the name)' %>
        <%= f.text_field :name %>
      </div>

      <div class="field required">
        <%= f.label(:display_location) do
          raw 'Location: City, Country ' + tip('This is the location of your project that students will see. If your project is in a secure location, putting something like "Middle East" will give them a general idea.')
          end %>
        <%= f.text_field :display_location %>
      </div>

      <div class="field">
        <%= f.check_box :secure %> Check here if this is a secure location
      </div>

      <h3>Google Map</h3>
      <div class="field required">
        <%= f.label :city do
          raw 'City ' + tip('The Google map on the \'Explore Projects\' page of goSP.com will pull from this location to place an icon in the correct city.')
          end %>
        <%= f.text_field :city %>
      </div>
      <div class="field required">
        <%= f.label :country %>
        <%= f.select :country, @countries.map {|c| [c.country]}, :include_blank => true %>
      </div>

      <div class="multifield">
        <div class="field required">
          <%= f.label :start_date, 'Student Start Date' %>
          <%= calendar_date_select_tag 'sp_project[start_date]', @project.start_date %>
        </div>

        <div class="field required">
          <%= f.label :end_date, 'Student End Date' %>
          <%= calendar_date_select_tag 'sp_project[end_date]', @project.end_date %>
        </div>
        <div class="field">
          <p>Please see important date information on the Risk Management Tab since it has financial implications related to insurance.</p>
        </div>
        <div class="clear"></div>
      </div>

      <hr />

      <div class="field">
        <%= f.label(:url) do
          raw 'Website Address ' + tip('Such as http://www.gomets.org/summerproject/or http://www.myproject.com/')
          end %>
        <%= f.text_field :url %>
      </div>
      <div class="field">
        <%= f.label(:url_title) do
          raw 'Website Title ' + tip('The actual words of the link they will click on to go to the website enter above  such as \'WDW Summer Project website.\' Default is "Project specific website."')
          end %>
        <%= f.text_field :url_title %>
      </div>

      <div class="field">
        <%= f.label :facebook_url, 'Facebook Group link' %>
        <%= f.text_field :facebook_url %>
      </div>

      <div class="multifield">
        <div class="field">
          <%= f.label :blog_url, 'Blog Address' %>
          <%= f.text_field :blog_url %>
        </div>
        <div class="field">
          <%= f.label :blog_title, 'Blog Title' %>
          <%= f.text_field :blog_title %>
        </div>
        <div class="clear"></div>
      </div>

      <div class="field required">
        <%= f.label :student_cost, 'Student Cost' %>
        <%= f.text_field :student_cost %>
      </div>

      <div class="field multitext required">
        <%= f.label(:max_accepted_men) do
          raw 'Maximum Number of Participants ' + tip('These numbers won&rsquo;t show up on the goSP.com website, but as you accept more participants, the icons on the Google map on the \'Explore Projects\' page will change color to show students how much space is remaining on your project. 0-49%  = green icon, 50-99% full = yellow icon, 100% full = red icon. Once you have reached 100%, the maximum number of participants, your project name will no longer show up in the list of options when a student applies.')
          end %>
        <%= f.text_field :max_accepted_men, :class => 'small' %> men &nbsp;&nbsp;
        <%= f.text_field :max_accepted_women, :class => 'small' %> women
      </div>

      <hr />

      <div class="field required">
        <%= f.label :description, 'Project Description' %>
        <%= f.text_area(:description, :cols => 90, :rows => 10, :class => 'tinymce') %>
      </div>


      <div class="multifield">
        <div class="field">
          <%= f.label :youtube_video_id, 'Youtube Video ID' %>
          <%= f.text_field :youtube_video_id %>
        </div>
        <div class="clear"></div>
      </div>

      <% @project.student_quotes.each_with_index do |quote, i| %>
        <%= f.fields_for :student_quotes, quote do |sqf| %>
          <div class="multifield" style="<%= (i != 0 && quote.quote.blank?) ? 'display:none' : '' -%>" id="quote_<%= i %>">
            <label>Quotes/Testimonials from Students or Other Participants <%= tip('Students like to hear what their peers had to say about their project experience. There may be some quotes on file  email projects@studentlife.org.nz.') %></label>

            <div class="field quote">
              <div>
                <%#= sqf.check_box :_destroy  %>
                <!-- <%= link_to(image_tag('icons/slash.png') + "Delete this quote", '', :class => 'deletequote') %> -->
                <%= sqf.text_field :name %>
              </div>
              <%= sqf.text_area(:quote, :cols => 60, :rows => 5) %>
            </div>
            <div class="clear"></div>
            <% unless i == 2 || @project.student_quotes[i+1].try(:quote).present?%>
              <%= link_to(image_tag('icons/plus-small.png') + 'Add another quote', '#', onclick: "$(this).hide();$('#quote_#{i+1}').show(); return false", :class => 'addanother') %>
            <% end %>
          </div>
        <% end %>
      <% end %>


      <!--div class="multifield" style="margin-top: 20px;">

        <div class="field">
          <label for="sp_project_picture">Project Picture</label>
          <div class="picture">
          <% if @project.picture_file_name.present? %>
            <%= image_tag(@project.picture.url(:thumb)) %>
          <% end %>
          </div>
          <input type="file" size="1" name="sp_project[picture]" id="sp_project_picture" class="smallinputfile">
          <%#= f.file_field(:picture, :size => 2) %>

        </div>

        <div class="field">
          <label for="sp_project_picture">Project Logo <%= tip('This logo will show up in the application. Recommended dimensions are 270px x 100px') %></label>
          <div class="picture">
          <% if @project.logo_file_name.present? %>
            <%= image_tag(@project.logo.url(:thumb)) %>
          <% end %>
          </div>
          <input type="file" size="1" name="sp_project[logo]" id="sp_project_logo" class="smallinputfile">
          <%#= f.file_field(:logo, :size => "2") %>
        </div>
        <div class="clear"></div>
      </div-->

      <button type="submit" class="save"><span>Save</span></button>
      <button type="button" class="save" onclick="$('.tabs li a').get(1).click();window.scrollTo(0,0)"><span>Next >></span></button>
