<%# encoding: utf-8 %>
      <p>
        The fields on this page are directly linked to the gosummerproject.com website.
        <br/>
        Changes made on this page will immediately show up on the website once you click the Save button.
      </p>

      <p class="legend">
        Fill out the fields in all four tabs. <br/>
      	Fields with the <%= image_tag('required.png') %> are required.
     	</p>

      <hr />
      <div class="field required">
        <%= f.label :name, 'Project Name (Do not use a ";" in the name)' %>
        <%= f.text_field :name %>
      </div>

      <div class="field required">
        <%= f.label :show_on_website, 'Show On Public Website' %>
        <%= f.select :show_on_website, [['No',false],['Yes',true]] %>
      </div>

      <div class="field required">
        <%= f.label :job, 'Can students get a job?' %>
        <%= f.select :job, [['No',false],['Yes',true]] %>
      </div>

      <div class="field required">
        <%= f.label(:display_location) do
          raw 'Location: City, State ' + tip('This is the location of your project that students will see. If your project is in a secure location, putting something like "Middle East" will give them a general idea.')
          end %>
        <%= f.text_field :display_location %>
      </div>

      <div class="field">
        <%= f.check_box :secure %> Check here if this is a secure location
      </div>

      <h3>Google Map</h3>
      <div class="field required">
        <%= f.label :city do
          raw 'City ' + tip('The Google map on the \'Explore Projects\' page of goSP.com will pull from this location to place an icon in the correct city.')
          end %>
        <%= f.text_field :city %>
      </div>
      <div class="field required">
        <%= f.label :state do
          raw 'State' + tip('Required if your project is in the US or Canada. Leave it blank for other international projects.')
        end %>
        <%= f.select :state, State::NAMES + ['Ontario'], :include_blank => true %>
      </div>
      <div class="field required">
        <%= f.label :country %>
        <%= f.select :country, @countries.collect {|c| [c.country]}, :include_blank => true %>
      </div>
      <div class="field required">
        <%= f.label :world_region, 'Region of the World' %>
        <%= f.select :world_region, SpWorldRegion.all.collect {|a| [a.name]}, :include_blank => true %>
      </div>

      <div class="multifield">
        <div class="field required">
          <%= f.label :start_date, 'Student Start Date' %>
          <%= calendar_date_select_tag 'sp_project[start_date]', @project.start_date %>
        </div>

        <div class="field required">
          <%= f.label :end_date, 'Student End Date' %>
          <%= calendar_date_select_tag 'sp_project[end_date]', @project.end_date %>
        </div>
        <div class="field">
          <p>Please see important date information on the Risk Management Tab since it has financial implications related to insurance.</p>
        </div>
        <div class="clear"></div>
      </div>

      <div class="field select">
        <%= f.label(:primary_ministry_focus_id) do
          raw 'Primary Ministry Focus ' + tip('This is helpful for students who are looking for a certain type of summer experience.')
          end %>
        <%= f.select :primary_ministry_focus_id, SpMinistryFocus.all.collect {|sf| [sf.name, sf.id]}, :include_blank => true %>
      </div>

      <div class="field checkvertical">
        <label>Other Ministry Foci:</label>
        <div class="checkboxes">
          <% SpMinistryFocus.all.each do |sf| %>
            <div id="sp_project_ministry_focus_ids_<%= sf.id %>_row" class="<%= 'selected' if !@project.new_record? && @project.ministry_focuses.to_a.include?(sf) %>">
              <input type="checkbox" name="sp_project[ministry_focus_ids][]" id="sp_project_ministry_focus_ids_<%= sf.id %>" value="<%= sf.id %>" <%= !@project.new_record? && @project.ministry_focuses.include?(sf) ? 'checked="checked"' : '' %>>
              <%= f.label "ministry_focus_ids_#{sf.id}", sf.name %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="field checkvertical">
        <label>Gospel in Action <%= tip('This information will not show up on gosummerproject.com, but will help track where good news and good deeds are happening on our summer mission projects.') %></label>
        <div class="checkboxes">
        <% SpGospelInAction.all.each do |ga| %>
          <div class="<%= 'selected' if !@project.new_record? && @project.gospel_in_actions.to_a.include?(ga) %>">
            <input type="checkbox" name="sp_project[gospel_in_action_ids][]" id="sp_project_gospel_in_action_ids_<%= ga.id %>" value="<%= ga.id %>" <%= !@project.new_record? && @project.gospel_in_actions.include?(ga) ? 'checked="checked"' : '' %>>
            <%= f.label "gospel_in_action_ids_#{ga.id}", ga.name %>
          </div>
        <% end %>
        </div>
      </div>

      <hr />

      <div class="field">
        <%= f.label(:url) do
          raw 'Website Address ' + tip('Such as http://www.gomets.org/summerproject/or http://www.myproject.com/')
          end %>
        <%= f.text_field :url %>
      </div>
      <div class="field">
        <%= f.label(:url_title) do
          raw 'Website Title ' + tip('The actual words of the link they will click on to go to the website enter above  such as \'WDW Summer Project website.\' Default is "Project specific website."')
          end %>
        <%= f.text_field :url_title %>
      </div>

      <div class="field">
        <%= f.label :facebook_url, 'Facebook Group link' %>
        <%= f.text_field :facebook_url %>
      </div>

      <div class="multifield">
        <div class="field">
          <%= f.label :blog_url, 'Blog Address' %>
          <%= f.text_field :blog_url %>
        </div>
        <div class="field">
          <%= f.label :blog_title, 'Blog Title' %>
          <%= f.text_field :blog_title %>
        </div>
        <div class="clear"></div>
      </div>

      <div class="field required">
        <%= f.label :student_cost, 'Student Cost' %>
        <%= f.text_field :student_cost %>
      </div>

      <div class="field multitext required">
        <%= f.label(:max_accepted_men) do
          raw 'Maximum Number of Participants ' + tip('These numbers won&rsquo;t show up on the goSP.com website, but as you accept more participants, the icons on the Google map on the \'Explore Projects\' page will change color to show students how much space is remaining on your project. 0-49%  = green icon, 50-99% full = yellow icon, 100% full = red icon. Once you have reached 100%, the maximum number of participants, your project name will no longer show up in the list of options when a student applies.')
          end %>
        <%= f.text_field :max_accepted_men, :class => 'small' %> men &nbsp;&nbsp;
        <%= f.text_field :max_accepted_women, :class => 'small' %> women
      </div>

      <hr />

      <div class="field required">
        <%= f.label :description, 'Project Description' %>
        <div class="inlinetip">
          <div id="explain1" class="explanation">

            <b>Remember students will want to know what it is like to be on your
      			project help them experience that in your by casting vision for your project.  See the examples below to help you get good ideas for your project description. Do not use the "%" symbol in your description or it will not display your text.</b><br /><br />
      			<b><u>Things to include in your description:</u></b><br>
      			<ul><li>Introduce the project and build vision.</li></ul>
      			<span class="sub">Daytona Beach Summer Project is located right on the "World's Most Famous Beach." It is a destination spot for thousands over the Summer and Spring Break and it's about an hour's drive from all the attractions in Orlando. Cru has had a long history at Daytona Beach. The Summer Project has been active there for over 30 summers. (Daytona)
      			<br /><br />
      			The country we are going to is the largest unreached nation in the world according to Operation World. Their are 73 million people and only an estimated 2,000 believers. (4th Journey)
      			<br /><br /></span>
      			<ul><li>Mention various training students will receive on this project, ways they will be invested in, or how they will return to campus equipped for ministry.</li></ul>
      			<span class="sub">We will also train you in how to reach internationals from many different people groups and religions in your own settings. (New York Tribeca  Bridges)
      			<br /><br />
      			We will do lots of evangelism and follow-up, along with plenty of relationship building and encouraging of local Aussie students. Project participants will be able to take the training and experience directly back to their campuses in the US. Join us down under as we reach out to Australian students and help to establish campus ministries. (Australia  Melbourne)
      			<br /><br /></span>
      			<ul><li>Ministry Focus Details  help them experience what the outreach they will be doing looks like.</li></ul>
      			<span class="sub">One of the strategic aspects of our outreaches is that each summer graduating seniors from the surrounding states come to Ocean City, so we find ourselves talking to next year's freshman class! (Ocean City)
      			<br /><br />
      			We will be taking some Russian Class, building relationships with students on campus,and inviting them to learn English with us. Through these relationships, we'll have an opportunity to share our faith.  (Russia, RR)
      			</span>
          </div>
          <span id="readmoreless" rel="explain1">Read More</span>
        </div>
        <%= f.text_area(:description, :cols => 90, :rows => 10, :class => 'tinymce') %>
      </div>

      <% @project.student_quotes.each_with_index do |quote, i| %>
        <%= f.fields_for :student_quotes, quote do |sqf| %>
          <div class="multifield" style="<%= (i != 0 && quote.quote.blank?) ? 'display:none' : '' -%>" id="quote_<%= i %>">
            <label>Quotes/Testimonials from Students or Other Participants <%= tip('Students like to hear what their peers had to say about their project experience. There may be some quotes on file  email summer.missions@cru.org.') %></label>

            <div class="field quote">
              <div>
                <%#= sqf.check_box :_destroy  %>
                <!-- <%= link_to(image_tag('icons/slash.png') + "Delete this quote", '', :class => 'deletequote') %> -->
                <%= sqf.text_field :name %>
              </div>
              <%= sqf.text_area(:quote, :cols => 60, :rows => 5) %>
            </div>
            <div class="clear"></div>
            <% unless i == 2 || @project.student_quotes[i+1].try(:quote).present?%>
              <%= link_to(image_tag('icons/plus-small.png') + 'Add another quote', '#', onclick: "$(this).hide();$('#quote_#{i+1}').show(); return false", :class => 'addanother') %>
            <% end %>
          </div>
        <% end %>
      <% end %>


      <div class="multifield" style="margin-top: 20px;">

        <div class="field">
          <label for="sp_project_picture">Project Picture</label>
          <div class="picture">
          <% if @project.picture_file_name.present? %>
            <%= image_tag(@project.picture.url(:thumb)) %>
          <% end %>
          </div>
          <input type="file" size="1" name="sp_project[picture]" id="sp_project_picture" class="smallinputfile">
          <%#= f.file_field(:picture, :size => 2) %>

        </div>

        <div class="field">
          <label for="sp_project_picture">Project Logo <%= tip('This logo will show up in the application. Recommended dimensions are 270px x 100px') %></label>
          <div class="picture">
          <% if @project.logo_file_name.present? %>
            <%= image_tag(@project.logo.url(:thumb)) %>
          <% end %>
          </div>
          <input type="file" size="1" name="sp_project[logo]" id="sp_project_logo" class="smallinputfile">
          <%#= f.file_field(:logo, :size => "2") %>
        </div>
        <div class="clear"></div>
      </div>

      <button type="submit" class="save"><span>Save</span></button>
      <button type="button" class="save" onclick="$('.tabs li a').get(1).click();window.scrollTo(0,0)"><span>Next >></span></button>
