    <p class="legend">
      	Fields with the <%= image_tag('required.png') %> are required.
   	</p>

    <hr />

    <div id="application_questions" style="<%= @project.use_provided_application? ? '' : 'display:none' %>">

      <%= hidden_field_tag 'sp_project[partner_region_only]', false %>
      <div class="field required">
        <%= f.label :apply_by_date, 'Date Students Must Apply By' %>
        <%= calendar_date_select_tag 'sp_project[apply_by_date]', @project.apply_by_date %>
      </div>

      <h3>Basic information <%= tip('This includes name, address, contact information, emergency contact information, etc. The international version asks additional questions related to passport information.] (automatically populate US or international, but make it editable') %></h3>

      <%= f.select :basic_info_question_sheet_id, QuestionSheet.active.where("label like '%Basic%'").order('label').collect {|qs| [qs.label, qs.id]} %>

      <h3>Application questions <%= tip('Choose the template that best matches your type of project. While most questions are the same, there are variations based on different types of projects. If there is a need to create a new template  email projects@studentlife.org.nz') %> </h3>

      <%= f.select :template_question_sheet_id, QuestionSheet.active.where("label like '%Template%'").order('label').collect {|qs| [qs.label, qs.id]} %>

      <h3>Customizable project-specific questions <%= tip('You can add up to five customizable questions to the application that are specific only for your summer project. A few thoughts: Clarify if the question is for acceptance (required by all), or is just for further information – for example: “Optional: Do you have lifeguard certification?” Please remember that questions need to not be biased or discriminatory. If you have any questions, ask your regional or ministry summer project coordinator or email projects@studentlife.org.nz') %></h3>
      <% if @project.new_record? %>
        After you save this new project, you can add custom questions.
      <% else %>
        <% if sp_user.can_edit_questionnaire? %>

          <% @questions.each_with_index do |question, i| %>
            <div class="multifield" style="<%= (i != 0 && question.label.blank?) ? 'display:none' : '' -%>" id="question_<%= i %>">
              <label>Custom Question:</label>
              <div class="field quote">
                <div>
                  <%= text_field_tag "questions[#{i}][label]", question.label, :size => 40 %>
                  <%= link_to(image_tag('icons/slash.png') + "Delete this question", '', :class => 'delete_question') %>
                  <%= hidden_field_tag "questions[#{i}][id]", question.id %>
                </div>
              </div>
              <div class="clear"></div>
              <% unless i == 4 || @questions[i+1].try(:label).present?%>
                <%= link_to(image_tag('icons/plus-small.png') + 'Add another question', '#', onclick: "$(this).hide();$('#question_#{i+1}').show()", :class => 'addanother') %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <button type="submit" class="save"><span>Save</span></button>
    <button type="button" class="save" onclick="$('.tabs li a').get(2).click();window.scrollTo(0,0)"><span>Next >></span></button>
