<%# encoding: utf-8 %>
			<p class="legend">
      	Fields with the <%= image_tag('required.png') %> are required.
     	</p>
    
      <hr />
      <div class="field required">
        <%= f.label :primary_partner, 'Primary Partner' %>
        <%= partnership_select(:project, :primary_partner, [:regions, :ministries]) %>
      </div>
      <div class="field">
        <%= f.label :secondary_partner, 'Secondary Partner' %>
        <%= partnership_select(:project, :secondary_partner, [:regions, :ministries]) %>
      </div>
      <div class="field">
        <%= f.label :tertiary_partner, 'Tertiary Partner' %>
        <%= partnership_select(:project, :tertiary_partner, [:regions, :ministries]) %>
      </div>
      <div class="field required">
        <%= f.label :report_stats_to, 'Report evangelism stats to' %>
        <%= f.select(:report_stats_to, ['Campus Ministry - US summer project','Campus Ministry - WSN summer project','Other CCC ministry'], { :include_blank => true }) %>
      </div>
      <div class="field">
        <%= f.label :staff_cost, 'Staff Cost' %>
        <%= f.text_field :staff_cost %>
      </div>
      <div class="field">
        <%= f.label :intern_cost, 'Student Staff Cost' %>
        <%= f.text_field :intern_cost %>
      </div>
      
      <hr />
      
     	<div class="col_left"> 
	      <h3>Operating Account Information <%= tip('If you are unsure of your chartfields and are part of a campus ministry region of CCC, <a href="http://wiki.uscm.org/display/CMF/CM+Finance+Professionals">click here</a> to find who is your regional Financial Professional to help you with the chartfields.') %></h3>
	      
	      <div class="field">
	        <%= f.label :operating_business_unit, 'Business Unit' %>
	        <%= f.text_field :operating_business_unit %>
	      </div>
	      <div class="field">
	        <%= f.label :operating_operating_unit, 'Operating Unit' %>
	        <%= f.text_field :operating_operating_unit %>
	      </div>
	      <div class="field">
	        <%= f.label :operating_department, 'Department ID' %>
	        <%= f.text_field :operating_department %>
	      </div>
	      <div class="field">
	        <%= f.label :operating_project, 'Project ID' %>
	        <%= f.text_field :operating_project %>
	      </div>
	      <div class="field">
	        <%= f.label :operating_designation, 'Operating Designation' %>
	        <%= f.text_field :operating_designation %>
	      </div>
      </div>
      
      <div class="col_right"> 
	      <h3>Scholarship Account Information</h3>
	    
	      <div class="field">
	        <%= f.label :scholarship_business_unit, 'Business Unit' %>
	        <%= f.text_field :scholarship_business_unit %>
	      </div>
	      <div class="field">
	        <%= f.label :scholarship_operating_unit, 'Operating Unit' %>
	        <%= f.text_field :scholarship_operating_unit %>
	      </div>
	      <div class="field">
	        <%= f.label :scholarship_department, 'Department ID' %>
	        <%= f.text_field :scholarship_department %>
	      </div>
	      <div class="field">
	        <%= f.label :scholarship_project, 'Project ID' %>
	        <%= f.text_field :scholarship_project %>
	      </div>
	      <div class="field">
	        <%= f.label :scholarship_designation, 'Operating Designation' %>
	        <%= f.text_field :scholarship_designation %>
	      </div>
      </div>
      
      <div style="height: 1px; clear: both;"></div>
      
      <hr />
      
      <button type="submit" class="save"><span>Save</span></button>
    