<div class="pagepad">
  <div id="breadcrumb">
    <ul>
      <li>Projects</li>
      <li></li>
      <li></li>
    </ul>
  </div>
  
  <h1>Project Title</h1>
  <div id="contextmenu">
    <ul class="left">
      <li><%= link_to('Download Team DB', '', :class => 'excel withicon') %></li>
      <li><%= link_to('Send Email', '', :class => 'email withicon') %></li>
      <li><%= link_to('Enter Stats', '', :class => 'stats withicon') %></li>
      <li><%= link_to('Add a Person', '', :class => 'person withicon') %></li>
    </ul>  
    <div class="clear"></div>
  </div>
  
  <div class="projectedit">
  
  <script type="text/javascript">
  	$(function() {
  		$("#tabs").tabs();
  	});
	</script>

  
  
    <div id="tabs">
      <ul class="tabs">
        <li><%= link_to ('goSP.com', '#goSPTab') %></li>
        <li><%= link_to ('Application', '#applicationTab') %></li> 
        <li><%= link_to ('Contact', '#contactTab') %></li> 
        <li><%= link_to ('Operations', '#operationsTab') %></li> 
      </ul>
      
      
      <div class="tabcontent" id="goSPTab">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
        </p>
      
        <hr />
        
        <div class="field">
          <label for="project[name]">Project Name</label>
          <%= text_field "project[]", "name" %>
        </div>
        
        <div class="field">
          <label for="project[name]">Student Start Date</label>
          <%= text_field "project[]", "studentstartdate" %>
        </div>
        
        <div class="field">
          <label for="project[name]">Student Start Date</label>
          <%= text_field "project[]", "studentenddate" %>
        </div>

        
      </div>
      
      <div class="tabcontent" id="applicationTab">
      aPPTAB
      </div>
      
      <div class="tabcontent" id="contactTab">
      </div>
      
      <div class="tabcontent" id="operationsTab">
      </div> 
    </div>
  
  
    
  </div>
  
  <div class="projectfooter">
    <div class="clear"></div>
  </div>

</div>