<div class="pagepad">
  <div id="breadcrumb">
    <ul>
      <li><%= link_to('Projects', admin_projects_path) %></li>
      <li class="last"><%= @project.name %></li>
    </ul>
  </div>
  
  <h1><%= @project.name %></h1>
  
  <div class="projectedit">
  
  <%= form_for @project, :url => admin_project_path(@project) do |f| %>  
    <%= render 'form', :f => f %>
  <% end %>
  
  
  <div class="right">
  
    <div class="module">
      <h3>Leadership <span class="controls">Add</span></h3>
      <table>
        <tr>
          <td class="rightalign">PD</td>
          <td class="name">Michael Henderson</td>
          <td class="icon">Mail</td>
          <td class="icon">IB</td>
        </tr>
      </table>
    </div>
    
    <div class="module">
      <h3>Leadership <span class="controls">Add</span></h3>
      <table>
        <tr>
          <th>Staff</th>
        </tr>
        <tr>
          <td class="name">Michael Henderson</td>
          <td class="icon">Mail</td>
          <td class="icon">IB</td>
          <td class="icon">DEL</td>
        </tr>
        
        
        <tr>
          <th>Staff</th>
        </tr>
        <tr>
          <td class="name">Michael Henderson</td>
          <td class="icon">Mail</td>
          <td class="icon">IB</td>
          <td class="icon">DEL</td>
        </tr>
        
      </table>
    </div>
    
  
  </div>
  
  
  </div>
  
  <div class="projectfooter">
    <div class="clear"></div>
  </div>

</div>