<div class="pagepad">
  <div id="breadcrumb">
    <ul>
      <li>Projects</li>
      <li></li>
      <li></li>
    </ul>
  </div>
  
  <h1>Project Title</h1>
  <div id="contextmenu">
    <ul class="left">
      <li><%= link_to('Download Team DB', '', :class => 'excel withicon') %></li>
      <li><%= link_to('Send Email', '', :class => 'email withicon') %></li>
      <li><%= link_to('Enter Stats', '', :class => 'stats withicon') %></li>
      <li><%= link_to('Add a Person', '', :class => 'person withicon') %></li>
    </ul>  
    <div class="clear"></div>
  </div>
  
  <div class="projectedit">
  
  <script type="text/javascript">
  	$(function() {
  		$("#tabs").tabs();
  	});
	</script>

  
  
    <div id="tabs">
      <ul class="tabs">
        <li><%= link_to ('goSP.com', '#goSPTab') %></li>
        <li><%= link_to ('Application', '#applicationTab') %></li> 
        <li><%= link_to ('Contact', '#contactTab') %></li> 
        <li><%= link_to ('Operations', '#operationsTab') %></li> 
      </ul>
      <div class="tabcontent" id="goSPTab">
      SPTAB
      </div>
      
      <div class="tabcontent" id="applicationTab">
      aPPTAB
      </div>
      
      <div class="tabcontent" id="contactTab">
      CONTACTTAB
      </div>
      
      <div class="tabcontent" id="operationsTab">
      poefasdf
      </div> 
    </div>
  
  
    <textarea class="mceEditor richeditor" cols="100" rows="20"></textarea>
  </div>
  
  <div class="projectfooter">
    <div class="clear"></div>
  </div>

</div>