<div class="pagepad">
  <div id="breadcrumb">
    <ul>
      <li><%= link_to('Projects', admin_projects_path) %></li>
      <li><%= link_to(@project.name, admin_project_path(@project)) %></li>
      <li class="last">Edit</li>
    </ul>
  </div>
  
  <h1><%= @project.name %></h1>
  
  <div class="projectedit">
    
    <%= form_for @project, :url => admin_project_path(@project), :html => {:multipart => true} do |f| %>  
      <%= render 'form', :f => f %>
    <% end %>
  
    <%= render 'leadership_sidebar', :project => @project %>

  
  
  </div>
  
  <div class="projectfooter">
    <div class="clear"></div>
  </div>

</div>