<script type="text/javascript" charset="utf-8">
  var emails = <%= raw @emails.to_json %>
</script>
<div class="pagepad">
  <div id="breadcrumb">
    <ul>
      <li><%= link_to('Projects', admin_projects_path) %></li>
      <li><%= link_to(@project.name, admin_project_path(@project)) %></li>
      <li class="last">Send Email</li>
    </ul>
  </div>
  <%= render :partial => 'project_year' %>
  
  <div class="projectedit">
  
    <div class="emailwrap compose">

      <!-- Compose Email -->
      <div class="backbutton">
        <%= link_to('Back to project', admin_project_path(@project)) %>
      </div>            
      <%= form_tag(send_email_admin_project_path(@project), :multipart => true, :id => 'email_form') do %>
        <%= hidden_field_tag :validated, '0', :id => 'validated' %>
        <div class="field">
          <label>From</label>
          <div class="fieldinput"><input name="from" size="70" type="text" value="<%= params[:from] || current_person.email %>" class="frombox">&nbsp;&nbsp; A copy of the email will be sent to this address.</div>
        </div>        
        
        <div class="field">
          <label>To:</label>
          <div class="fieldinput">
            <%= select_tag :group, options_for_select(@group_options) %>
            <textarea name="to" id="to" type="text" cols="70" rows="3" wrap="virtual" class="addresses"><%= params[:to] %></textarea>
          </div>
        </div>
        
        <div class="field">
          <label>Subject</label>
          <div class="fieldinput"><%= text_field_tag :subject, params[:subject], :id => 'subject' %></div>
        </div>
        
        <textarea name="body" cols="100" style="width: 100%;" rows="18" wrap="virtual" class="mceEditor"></textarea>

        <% (0..4).each do |i| %>        
          <div class="field" style="<%= i == 0 ? '' : 'display:none' %>" id="attachment_<%= i %>">
            <label><%= image_tag('attach.png') %></label>
            <div class="fieldinput" style="padding-top: 8px;">
              <%= file_field_tag "file[#{i}]" %>  <%= link_to_function(image_tag('icons/plus-button.png') + ' Add another attachment', "$('#attachment_#{i+1}').show()") unless i == 4  %><br/>
            </div>
          </div>
          <div style="clear:both"></div>
        <% end %>
        
        <div class="clear"></div>
        
        <button type="submit" value="Send Email" class="save" /><span>Send Email</span></button>
      <% end %>





    </div><!-- left -->  
  

  </div>
  
  <div class="projectfooter">
    <div class="clear"></div>
  </div>

</div>