<div class="pagepad">
<h1>Dashboard</h1>
<div id="contextmenu">
  <ul class="left">
    <li><%= link_to_function("Filter: #{@filter_title}", '', :class => 'down withicon', :id => 'mvmtselector') %></li>
    <div class="poptions" id="mvmtfilter" style="display: none;">
      <p>Select which partners' projects you would like to see:</p>
      <hr />
      <ul>
        <li><%= link_to_function('All', '', :id => 'filter_all') %></li>
        <% i = 0
          partners.each do |partner| 
          i += 1 %>
        <li><%= link_to_function(partner, '', 'data-partner' => partner, :class => params[:partners] && params[:partners].include?(partner) ? 'selected' : '') %></li>
          <% if i % 6 == 0 %>
            </ul><ul><li>&nbsp;</li>
          <% end %>
        <% end %>
      </ul>
      <div class="clear"></div>
      <%= check_box_tag :closed, 1, params[:closed] == 'true' %> Include closed projects
      <button id="filter_button">Filter</button>
    </div>
  </ul>  
  
  <ul class="right">
    <li><%= link_to('Add New Project', new_admin_project_path, :class => 'add withicon') %></li>
    <li><%= link_to('Add an Applicant', '', :class => 'person withicon') %></li>
    <li style="display: none;"><%= link_to('Merge', :class => 'person withicon') %></li>
  </ul>
</div>

<div class="dashboardlist">
  <%= text_field_tag :filter %>
  <table>
    <tr>
      <th></th>
      <th class="th_project capitalize"><%= sort_by('Project') %></th>
      <th class="th_pd"><%= sort_by('PD') %></th>
      <th class="th_apd"><%= sort_by('APD') %></th>
      <th class="th_opd"><%= sort_by('OPD') %></th>
      <th></th>
      <th></th>
    </tr>
    <% @projects.each do |project| %>
    <tr>
      <td class="count"><%= project.accepted %> / <%= project.capacity %></td>
      <td class="project"><%= link_to(project.name, admin_project_path(project)) %> <%= link_to('Edit', edit_admin_project_path(project), :class => 'inline edit') %></td>
      <% [:pd,:apd,:opd].each do |leader| -%>
  			<td class="<%= leader.to_s %>">
					<% l = project.send(leader) 
						if l -%>
							<%=  l.accountNo ? link_to(l, "https://staff.campuscrusadeforchrist.com/servlet/InfoBaseController?action=showStaffInfo&staffid=#{l.accountNo}") : l %>
						<% else %>
						  <%= link_to('') do %>
						    <span class="fillit">(Fill this position)</span>
						  <% end %>
						<% end -%>
  				&nbsp;
  				<%= link_to('Edit', '', :class => 'inline edit') %><%= link_to('Delete', '', :class => 'inline delete') %>
  			</td>
			<% end -%>
      <td class="stats"><%= link_to('Stats', '', :class => 'inline stats') %></td>
      <td class="close"><%= link_to('Close', '', :class => 'inline close') %></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="dashboardfooter">
  <div class="pagination_wrapper">
    Pages: 
    <%= will_paginate %>
  </div>
  <div class="show_select">
    Show
    <%= select_tag :projects_per_page, options_for_select([[20, 20], [40, 40], [100, 100], ['All', 10000]], @per_page.to_i), :rel => admin_projects_path %>
    of 
    <%= @projects.count %>
  </div>
  <div class="clear"></div>
</div>
</div>