<div class="pagepad">
<h1>Dashboard</h1>
<div id="contextmenu">
</div>

<div class="dashboardlist">
  <%= text_field_tag :filter %>
  <table>
    <tr>
      <th></th>
      <th class="th_project capitalize"><%= sort_by('Project') %></th>
      <th class="th_pd"><%= sort_by('PD') %></th>
      <th class="th_apd"><%= sort_by('APD') %></th>
      <th class="th_opd"><%= sort_by('OPD') %></th>
      <th></th>
      <th></th>
    </tr>
    <% @projects.each do |project| %>
    <tr>
      <td>XX/XX</td>
      <td><%= link_to(project.name, admin_project_path(project)) %> <%= link_to('Edit', '', :class => 'inline edit') %></td>
      <td><%= link_to(project.pd, '') %><%= link_to('Edit', '', :class => 'inline edit') %><%= link_to('Delete', '', :class => 'inline delete') %></td>
      <td><%= link_to(project.apd, '') %><%= link_to('Edit', '', :class => 'inline edit') %><%= link_to('Delete', '', :class => 'inline delete') %></td>
      <td><%= link_to(project.opd, '') %><%= link_to('Edit', '', :class => 'inline edit') %><%= link_to('Delete', '', :class => 'inline delete') %></td>
      <td><%= link_to('Stats', '', :class => 'inline stats') %></td>
      <td><%= link_to('Close', '', :class => 'inline close') %></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="dashboardfooter">
  <%= will_paginate %>
  <%= select_tag :projects_per_page, options_for_select([[20, 20], [40, 40], [100, 100], ['All', 10000]], @per_page.to_i), :rel => admin_projects_path %>
</div>
</div>