<div class="pagepad">
<h1>Dashboard</h1>
<div id="contextmenu">
  <ul class="left">
    <li><%= link_to_function("Filter: #{@filter_title}", '', :class => 'down withicon', :id => 'mvmtselector') %></li>
    <div class="poptions" id="mvmtfilter" style="display: none;">
      <p>Select which partners' projects you would like to see:</p>
      <hr />
      <ul>
        <li><%= link_to_function('All', '', :id => 'filter_all') %></li>
        <% partners.each_with_index do |partner, i| %>
        <li><%= link_to_function(partner, '', 'data-partner' => partner, :class => params[:partners] && params[:partners].include?(partner) ? 'selected' : '') %></li>
          <% if (i + 1) % 6 == 0 %>
            </ul><ul><li>&nbsp;</li>
          <% end %>
        <% end %>
      </ul>
      <div class="clear"></div>
      <%= check_box_tag :closed, 1, params[:closed] == 'true' %> Include closed projects
      <button id="filter_button" rel="<%= admin_projects_path %>">Filter</button>
    </div>
  </ul>  
  
  <ul class="right">
    <li><%= link_to('Add New Project', new_admin_project_path, :class => 'add withicon') %></li>
    <!-- <li><%= link_to('Add an Applicant', '', :class => 'person withicon') %></li> -->
    <li style="display: none;"><%= link_to('Merge', :class => 'person withicon') %></li>
  </ul>
  <div class="clear"></div>
</div>

<%= text_field_tag :search, params[:search], :rel => admin_projects_path %> <%= spinner %>
<div id="dashboardlist" class="dashboardlist">
  <%= render 'projects' %>
</div>

<div class="dashboardfooter">
  <% if @projects.total_pages > 1 %>
    <div class="pagination_wrapper">
      Pages: 
      <%= will_paginate %>
    </div>
  <% end %>
  <div class="show_select">
    Show
    <%= select_tag :projects_per_page, options_for_select([[20, 20], [40, 40], [100, 100], ['All', 10000]], @per_page.to_i), :rel => admin_projects_path %>
    of 
    <%= @projects.total_entries %>
  </div>
  <div class="clear"></div>
</div>
</div>