<div class="pagepad">
  <% if sp_user.can_see_dashboard? %>
  <div id="breadcrumb">
    <ul>
      <li><%= link_to('Projects', admin_projects_path) %></li>
      <li class="last"><%= @project.name %></li>
    </ul>
  </div>
  <% end %>

  <%= render :partial => 'project_year' %>
  <div id="contextmenu">
    <ul class="left">
      <li><%= link_to('Edit Project', edit_admin_project_path(@project), :class => 'edit withicon') %></li>
      <li><%= link_to('Download Team DB', download_admin_project_path(@project, :year => @year), :class => 'excel withicon') %></li>
      <li><%= link_to('Send Email', email_admin_project_path(@project, :year => @year), :class => 'email withicon', :id => 'sendemailopen') %></li>
      <!-- <li><%= stat_link(@project, @project, 'Enter Stats', :class => 'stats withicon') %></li> -->
      <!-- <li><%= link_to('Add an Applicant', new_admin_application_path, :class => 'person withicon') %></li> -->
    </ul>
    <div class="clear"></div>
  </div>


  <div class="projectedit">

    <div class="left">
      <div id="tabs">
        <ul class="tabs">
          <li><%= link_to("Particip. (#{@accepted_participants.length})", '#participants') %></li>
          <li><%= link_to("S. Staff (#{@accepted_student_staff.length})", '#interns') %></li>
          <li><%= link_to("Other (#{@other.length})", '#other') %></li>
          <li><%= link_to("Ready (#{@ready_to_evaluate.length})", '#ready') %></li>
          <li><%= link_to("Submitted (#{@submitted.length})", '#submitted') %></li>
          <li><%= link_to("Started (#{@not_submitted.length})", '#not_submitted') %></li>
          <li><%= link_to("Not Going (#{@not_going.length})", '#not_going') %></li>
        </ul>

        <div class="tabcontent" id="participants">
          <table class="people">
            <%= render :partial => 'accepted_header' %>

            <% @accepted_participants.each do |app| %>
              <%= render 'accepted_student', :app => app %>
            <% end %>

          </table>
        </div>

        <div class="tabcontent" id="interns">
          <table class="people">
            <%= render :partial => 'accepted_header' %>

            <% @accepted_student_staff.each do |app| %>
              <%= render 'accepted_student', :app => app %>
            <% end %>
          </table>

        </div>
        <div class="tabcontent" id="other">
          <p>
            This is where students and volunteers, who did not complete an application, will show up. You MUST click on their name and click “edit information”. Please fill in all the blanks, except the designation number blank. <br />
            <strong>IF THIS IS NOT COMPLETE THEY WILL BE UNABLE TO RECEIVE A DESIGNATION NUMBER.</strong>
          </p>
          <table class="people">
            <%= render :partial => 'other_header' %>

            <% @other.each do |staff| %>
              <%= render 'other', :staff => staff %>
            <% end %>

          </table>
        </div>


        <div class="tabcontent" id="ready">
          (Application and all references submitted)
          <table class="people">
            <tr>
              <th class="gender"></th>
              <th class="name">Name</th>
              <th class="email"></th>
              <th class="campus">Campus</th>
              <th class="accdate"><%= sort_by('ready')%></th>
              <th class="balance">S. Staff</th>
              <th class="evaluate">Rev</th>
            </tr>
            <% @ready_to_evaluate.each do |app| %>
              <% person = app.person %>
              <tr>
                <td class="gender"><%= image_tag("icons/user-#{person.human_gender.downcase}.png") if person.human_gender.present? %></td>
                <td class="name"><%= link_to(person, '#', :class => 'person', 'data-id' => person.id, 'data-project-id' => @project.present? ? @project.id : '', 'data-year' => params[:year] || SpApplication.year) %></td>
                <td class="email"><%= mail_to(person.email, image_tag('icons/mail.png')) %></td>
                <td class="campus"><div class='campus_trim'><%= person.campus %></div></td>
                <td class="accdate deadline<%= app.deadline_met %>"><%= est_time app.completed_at.to_time if app.completed_at %></td>
                <td class="balance"><%= app.apply_for_leadership? ? 'Yes' : 'No' %></td>
                <% if sp_user.can_evaluate_applicant?(app) %>
                  <td class="evaluate"><%= link_to(image_tag("icons/stamp.png", :alt => 'Review ' + person.to_s), evaluate_admin_evaluations_path(:application_id => app.id), :title => 'Review ' + person.to_s) %></td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>

        <div class="tabcontent" id="submitted">
          (Application submitted, still waiting for references)
          <table class="people">
            <tr>
              <th class="gender"></th>
              <th class="name sort_up">Name</th>
              <th class="email"></th>
              <th class="campus">Campus</th>
              <th class="accdate"><%= sort_by('submitted')%></th>
              <th class="balance">S. Staff</th>
              <th class="evaluate">Rev</th>
            </tr>

            <% @submitted.each do |app| %>
              <% person = app.person %>
              <tr>
                <td class="gender"><%= image_tag("icons/user-#{person.human_gender.downcase}.png") if person.human_gender.present? %></td>
                <td class="name"><%= link_to(person, '#', :class => 'person', 'data-id' => person.id, 'data-project-id' => @project.present? ? @project.id : '', 'data-year' => params[:year] || SpApplication.year) %></td>
                <td class="email"><%= mail_to(person.email, image_tag('icons/mail.png')) %></td>
                <td class="campus"><div class='campus_trim'><%= person.campus %></div></td>
                <td class="accdate"><%= est_time app.submitted_at.to_time if app.submitted_at %></td>
                <td class="balance"><%= app.apply_for_leadership? ? 'Yes' : 'No' %></td>
                <% if sp_user.can_evaluate_applicant?(app) %>
                  <td class="evaluate"><%= link_to(image_tag("icons/stamp.png", :alt => 'Review ' + person.to_s), evaluate_admin_evaluations_path(:application_id => app.id), :title => 'Review ' + person.to_s) %></td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>

        <div class="tabcontent" id="not_submitted">
          (Applications that haven't been submitted, but have chosen this project as their first preference)
          <table class="people">
            <tr>
              <th class="gender"></th>
              <th class="name">Name</th>
              <th class="email"></th>
              <th class="campus">Campus</th>
              <th class="accdate"><%= sort_by('started')%></th>
              <th class="intern">S. Staff</th>
              <th class="status">Status</th>
              <th class="evaluate">Rev</th>
            </tr>

            <% @not_submitted.each do |app| %>
              <% person = app.person %>
              <tr>
                <td class="gender"><%= image_tag("icons/user-#{person.human_gender.downcase}.png") if person.human_gender.present? %></td>
                <td class="name"><%= link_to(person, '#', :class => 'person', 'data-id' => person.id, 'data-project-id' => @project.present? ? @project.id : '', 'data-year' => params[:year] || SpApplication.year) %></td>
                <td class="email"><%= mail_to(person.email, image_tag('icons/mail.png')) %></td>
                <td class="campus"><div class='campus_trim'><%= person.campus %></div></td>
                <td class="accdate"><%= est_time app.created_at.to_time if app.created_at %></td>
                <td class="intern"><%= app.apply_for_leadership? ? 'Yes' : 'No' %></td>
                <td class="status"><%= app.status.titleize %></td>
                <% if sp_user.can_evaluate_applicant?(app) %>
                  <td class="evaluate"><%= link_to(image_tag("icons/stamp.png", :alt => 'Review ' + person.to_s), evaluate_admin_evaluations_path(:application_id => app.id), :title => 'Review ' + person.to_s) %></td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>

        <div class="tabcontent" id="not_going">
          (Application that have been Declined or Withdrawn their application)
          <table class="people">
            <tr>
              <th class="gender"></th>
              <th class="name sort_up">Name</th>
              <th class="email"></th>
              <th class="campus">Campus</th>
              <th class="accdate"><%= sort_by('submitted')%></th>
              <th class="status">Status</th>
              <th class="evaluate">Rev</th>
            </tr>

            <% @not_going.each do |app| %>
              <% person = app.person %>
              <tr>
                <td class="gender"><%= image_tag("icons/user-#{person.human_gender.downcase}.png") if person.human_gender.present? %></td>
                <td class="name"><%= link_to(person, '#', :class => 'person', 'data-id' => person.id, 'data-project-id' => @project.present? ? @project.id : '', 'data-year' => params[:year] || SpApplication.year) %></td>
                <td class="email"><%= mail_to(person.email, image_tag('icons/mail.png')) %></td>
                <td class="campus"><div class='campus_trim'><%= person.campus %></div></td>
                <td class="accdate"><%= est_time app.submitted_at.to_time if app.submitted_at %></td>
                <td class="status"><%= app.status.titleize %> <%= "(#{app.previous_status})" if app.previous_status.present? %></td>
                <% if sp_user.can_evaluate_applicant?(app) %>
                  <td class="evaluate"><%= link_to(image_tag("icons/stamp.png", :alt => 'Review ' + person.to_s), evaluate_admin_evaluations_path(:application_id => app.id), :title => 'Review ' + person.to_s) %></td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>


    </div><!-- left -->


    <%= render 'leadership_sidebar', :project => @project %>


  </div>

  <div class="projectfooter">
    <div class="clear"></div>
  </div>

</div>
