<div class="pagepad">
  <%= form_tag do %>
    Search for projects that start between the following dates:
    <br /><br />
    <%= text_field_tag :start, 1.month.ago.to_date.to_s(:db), 'data-calendar-db' => true %> and
    <%= text_field_tag :end, Date.today.to_s(:db), 'data-calendar-db' => true %>
    <%= submit_tag 'Download' %>
  <% end %>
  <br />
  Note: This query only runs for the current Summer Project year, which is currently <%= SpApplication.year %>
  <br /><br />
  <%= link_to "Show Arrive/Leave Date Exceptions", sos_exceptions_admin_projects_path %>
  <br/><br/>
  <h2>Projects that are open and missing chartfields:</h2>
  <table class="people">
    <tr>
      <th class="name">Project Name</th>
      <th>Start Date</th>
      <th>Contact Name</th>
      <th>Contact Role</th>
      <th>Contact Phone</th>
      <th>Contact Email</th>
    </tr>
    <% SpProject.open.missing_chart_field.order('name').each do |project| %>
      <tr>
        <td class="name"><%= project.name %></td>
        <td class="name"><%= l(project.start_date) %></td>
        <td><%= project.project_contact_name %></td>
        <td><%= project.project_contact_role %></td>
        <td><%= project.project_contact_phone %></td>
        <td><%= mail_to(project.project_contact_email) %></td>
      </tr>
    <% end %>
  </table>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
	    $('[data-calendar-db]').datepicker({changeYear:true,
																	        yearRange: '<%= SpProject.minimum("year") %>:<%= SpProject.maximum("year") %>',
																	        dateFormat: 'yy-mm-dd'})

  });
</script>