<div class="page-title row">
    <div class="col-md-12">
    <a href="http://www.facebook.com/sharer.php?u=http://projects.studentlife.org.nz/" class="btn btn-social btn-facebook pull-right">
      <%= fa_icon 'facebook' %> Share on Facebook
    </a>
      <span class="text-muted">Sign up for</span>
      <h3>Summer Projects <%= Time.now.year %></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%- if @projects.empty? %>
      <h3>No projects are currently accepting applications.</h3>
    <% else %>
      <% @projects.each do |project| %>
        <h1 class="project-title"><%= project.to_s %>
        <%= link_to("Apply For #{project.to_s}", apply_applications_path(:p => project.id), class: 'btn btn-primary pull-right') %></h1>
        <div class="row">
          <div class="col-md-9 project-detailed">
            <%= project.description.html_safe %>

            <%- unless project.youtube_video_id.blank? %>
              <div class="row">
                <div class="col-md-8">
                  <div class="js-video widescreen">
                    <iframe src="https://www.youtube.com/embed/<%= project.youtube_video_id %>?modestbranding=1&iv_load_policy=3&rel=0&showinfo=0&theme=light" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            <% end -%>
            <%= link_to("Apply For #{project.to_s}", apply_applications_path(:p => project.id), class: 'btn btn-lg btn-primary') %>
          </div>
          <div class="col-md-3 project-quick">
            <h5><div class="pull-right"><%= fa_icon 'map-marker' %></div>Location</h5>
            <%= project.display_location %>
            <h5><div class="pull-right"><%= fa_icon 'clock-o' %></div>Term</h5>
            <%= project.start_date.strftime "%-d %b %Y" %> to <%= project.end_date.strftime "%-d %b %Y" %>
            <h5><div class="pull-right"><%= fa_icon 'clock-o' %></div>Length</h5>
            <%= distance_of_time_in_words(project.start_date, project.end_date) %>
            <h5><div class="pull-right"><%= fa_icon 'money' %></div>Cost</h5>
            <%= number_to_currency project.student_cost %>
          </div>
        </div>
      <% end %>
    <% end -%>
  </div>
</div>