<tr class="<%= cycle("","alt") %>">
  <td class="title"><%= link_to question_sheet.label, admin_question_sheet_path(question_sheet), :class => "questionnaire" %></td>
  <td class="actions"><%= link_to 'Duplicate', duplicate_admin_question_sheet_path(question_sheet), :confirm => 'This will take some time depending on the number of questions. Please be patient.', :method => :post, :class => 'duplicate' %></td>
  <td class="actions"><%= link_to 'Archive', archive_admin_question_sheet_path(question_sheet), :confirm => "Are you sure you want to archive #{question_sheet.label}?", :method => :post, :class => 'archive' %></td>
  <td class="actions"><%= link_to 'Destroy', admin_question_sheet_path(question_sheet), :confirm => "Are you sure you want to delete #{question_sheet.label}?", :method => :delete, :class => "destroy", :class => 'delete' %></td>
</tr>