<div class="pagepad reportpage">
  <%= link_to("<< Back to all reports", admin_reports_path) unless sp_user.is_a?(SpDirector)%>
  <h1>Director Reports</h1>
  <div id="dashboardlist" class="dashboardlist">
    <ul>
       
      <% if current_person.directed_projects.length > 0 %>
      <li> 
        <%= link_to('All applicants who preferenced my project', preference_admin_reports_path) %>
        <%= tip('Shows a list of all the students who put your project as on of their preferences') %>
      </li>
      <% end %>
      <li>   
      <%= link_to('Female application openings', female_openings_admin_reports_path) %> (<%= link_to "download", female_openings_admin_reports_path(:format => 'csv') %>)
        <%= tip('Shows a list of projects which are 0-49% full, 50-99% full, or 100% full so you can know where to move applicants to') %>
      </li>  
      <li>
      <%= link_to('Male application openings', male_openings_admin_reports_path) %> (<%= link_to "download", male_openings_admin_reports_path(:format => 'csv') %>)
        <%= tip('Shows a list of projects which are 0-49% full, 50-99% full, or 100% full so you can know where to move applicants to') %>
      </li>
      <li>
        <%= link_to('Projects sorted by ministry focus', ministry_focus_admin_reports_path) %>
        <%= tip('Shows a list of all projects grouped by ministry focus') %>
      </li>
      <li>
        <%= link_to('Project evangelism stats', evangelism_admin_reports_path) %>
        <%= tip('Shows a list of projects with their evangelism stats') %>
      </li>
      <li>
        <%- if Date.today >= Date.parse("January 28, #{Date.today.year}") && Date.today <= Date.parse("April 15, #{Date.today.year}") %>
          <%= link_to('Projects that have ready apps after project deadline', ready_after_deadline_admin_reports_path) %>
        <%- else %>
          Projects that have ready apps after project deadline (this report is available only from January 28th to April 15th).
        <%- end %>
        <%= tip('Shows how many applications are in ready status and past the hear-back deadline') %>
      </li>
      <li>
        <%= link_to('Applications by status', applications_by_status_admin_reports_path) %>
        <%= tip('Shows how many applications are in each status') %>
      </li>
      <li>
        <%= link_to('MPD Report', mpd_summary_admin_reports_path) %>
        <%= tip('Shows donations of all students on a project') %>
      </li>
    </ul>
  </div>
</div>

