<style>
  .reportpage table th {
    width: 50%;
  }
  .reportpage table {
    width: 400px;
  }
</style>

<div class="pagepad reportpage">
  <%= link_to("<< Back to all reports", admin_reports_path) %><br />
  <%= link_to("<< Back to regional coordinator report list", regional_admin_reports_path) %>
  <br/>
  <%- if @statistics %>
    <h1>Statistics for all <%= @partners.join(', ') %> Projects</h1>
    <table>
      <%= render 'stat_header' %>
      <% if @statistics.present? %>
        <% @statistics.each do |stat| %>
          <%= render "stat", :stat => stat, :combined => true %>
        <% end %>
      <% else %>
        <tr><td colspan="13"><em>None of the projects in this partnership have stats</em></td></tr>
      <% end %>
    </table>
  <%- elsif @partners %>
    <h1>Partnerships</h1>
    <ul>
      <% @partners.each do |partner| %>
        <li><%= link_to(partner, evangelism_combined_admin_reports_path(:partner => partner)) %></li>
      <% end %>
    </ul>
  <%- else %>
    <P>No project or partnership given.</P>
  <%- end %>
</div>
