<style>
  .reportpage table th {
    width: 50%;
  }
  .reportpage table {
    width: 400px;
  }
</style>

<div class="pagepad reportpage">
  <%= link_to("<< Back to all reports", admin_reports_path) %><br />
  <%= link_to("<< Back to director report list", director_admin_reports_path) %>
  <br/>

  <%- if @projects.present? %>
    <h1><%= params[:partner] %> Projects</h1>
    <ul>
      <% @projects.each do |project| %>
        <li><%= link_to(project.name, evangelism_admin_reports_path(:project_id => project.id)) %>
        </li>
      <% end %>
    </ul>
  <%- elsif @project.present? %>
    <h1>Stats for <%= @project %></h1>
    <br/>
    <table>
      <tr>
        <th>Year</th>
        <th>Media Exposures</th>
        <th>Evangelistic One-One</th>
        <th>Evangelistic Group</th>
        <th>Decisions</th>
        <th>Decisions Media</th>
        <th>Decisions One-One</th>
        <th>Decisions Group</th>
        <th>Holy Spirit Convo</th>
        <th>Involved New Blvrs</th>
        <th>Involved Students</th>
        <th>Students Leaders</th>
        <th>Dollars Raised</th>
      </tr>
      <%- @project.statistics.each do |stat| %>
        <%= render "stat", :stat => stat %>
      <%- end %>
    </table>
  <%- else %>
    <p>We couldn't find any projects that you're directing or have permission to view stats on.</p>
  <%- end %>
</div>
