<div class="pagepad reportpage">
  <%= link_to("<< Back to all reports", admin_reports_path) unless sp_user.is_a?(SpDirector)%><br />
  <%= link_to("<< Back to report list", director_admin_reports_path) %>
  <h1>Projects by ministry focus</h1>
  <p>Click on the name of a focus to see related projects</p>
  <% @focuses.each do |focus| %>
    <h3 class="focus_name"><%= focus %></h3>
    <%= link_to "Download<br/><br/>".html_safe, ministry_focus_admin_reports_path(:format => 'csv', :focus_id => focus), :style => "display:none" %>
    <table id="<%= dom_id(focus) %>" style="display:none">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>PD Email Addresses</th>
        </tr>
      </thead>
      <tbody>
        <% focus.projects.current.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= raw [project.pd.try(:email), project.apd.try(:email)].compact.collect {|e| mail_to(e)}.join(' or ') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

