<div class="pagepad reportpage">
  <%= link_to("<< Back to all reports", admin_reports_path) %>
  <h1>National Coordinator Reports</h1>
  <div id="dashboardlist" class="dashboardlist">
    <ul>
      <li>
        <%= link_to('All applicants', applicants_admin_reports_path) %> (<%= link_to('download', applicants_admin_reports_path(:format => 'csv')) %>)
      </li>
      <li>
        <%= link_to('PD Emails', pd_emails_admin_reports_path) %>
      </li>
      <li>
        <%= link_to('Student emails', student_emails_admin_reports_path) %>
      </li>
      <li>
        <%= link_to('Project Start/End Date', project_start_end_admin_reports_path) %>
      </li>
      <li>
        <%= link_to('Project Application Fee Paid by Staff acct/chartfield Transfer', fee_by_staff_admin_reports_path(:format => 'csv')) %>
      </li>
      <li>
        <%= link_to('Summer Project Sending Statistics', sending_stats_admin_reports_path) %> <!-- (<%= link_to('download', sending_stats_admin_reports_path(:format => 'csv')) %>) -->
      </li>
    </ul>
  </div>
</div>



