<div class="pagepad reportpage">
  <%= link_to("<< Back to all reports", admin_reports_path) %>
  <h1>National Coordinator Reports</h1>
  <div id="dashboardlist" class="dashboardlist">
    <ul>
      <li>
        <%= link_to('All applicants', applicants_admin_reports_path) %> (<%= link_to('download', applicants_admin_reports_path(:format => 'csv')) %>)
      </li>
      <li>
        <%= link_to('PD Emails', pd_emails_admin_reports_path) %>
      </li>
      <li>
        <%= link_to('Student emails', student_emails_admin_reports_path) %>
      </li>
      <li>
      <%= link_to('Project Start/End Date', project_start_end_admin_reports_path) %> (<%= link_to('download', project_start_end_admin_reports_path(:format => 'csv')) %>)
      </li>
      <li>
        <%= link_to('Project Application Fee Paid by Staff acct/chartfield Transfer', fee_by_staff_admin_reports_path(:format => 'csv')) %>
      </li>
      <li>
        <%= link_to('Summer Project Sending Statistics', sending_stats_admin_reports_path) %> (<%= link_to('download', sending_stats_admin_reports_path(:format => 'csv')) %>)
      </li>
      <li>
        <%= link_to('Evangelism Stats by Project', stats_by_project_admin_reports_path) %> (<%= link_to('download', stats_by_project_admin_reports_path(:format => 'csv')) %>) 
      </li>
      <li>
        <%= link_to('All Projects Summary', projects_summary_admin_reports_path) %> (<%= link_to('download', stats_by_project_admin_reports_path(:format => 'csv')) %>) 
      </li>
    </ul>
    <ul>
      <li>
        <%= link_to('Total number of participants by partner of project', total_num_participants_by_partner_of_project_admin_reports_path) %> (<%= link_to('download', total_num_participants_by_partner_of_project_admin_reports_path(:format => 'csv')) %>)
      </li>
      <li>
        <%= link_to('Total number of participants by region', total_num_participants_by_region_admin_reports_path) %> (<%= link_to('download', total_num_participants_by_region_admin_reports_path(:format => 'csv')) %>)
      </li>
      <li>
        <%= link_to('Total number of participants by all SPs', total_num_participants_to_all_sps_admin_reports_path) %> (<%= link_to('download', total_num_participants_to_all_sps_admin_reports_path(:format => 'csv')) %>)
      </li>
      <li>
        <%= link_to('Total number of participants by EFM', total_num_participants_by_efm_admin_reports_path) %> (<%= link_to('download', total_num_participants_by_efm_admin_reports_path(:format => 'csv')) %>)
      </li>
      <li>
        <%= link_to('Total number of participants to HS SPs', total_num_participants_to_hs_sps_admin_reports_path) %> (<%= link_to('download', total_num_participants_to_hs_sps_admin_reports_path(:format => 'csv')) %>)
      </li>
      <li>
        <%= link_to('Total number of participants to other ministry SPs', total_num_participants_to_other_ministry_sps_admin_reports_path) %> (<%= link_to('download', total_num_participants_to_other_ministry_sps_admin_reports_path(:format => 'csv')) %>)
      </li>
    </ul>
    <ul>
      <li>
        <%= link_to('Total number of applicants by partner of project', total_num_applicants_by_partner_of_project_admin_reports_path) %> (<%= link_to('download', total_num_applicants_by_partner_of_project_admin_reports_path(:format => 'csv')) %>)
      </li>
      <li>
        <%= link_to('Total number of applicants by region', total_num_applicants_by_region_admin_reports_path) %> (<%= link_to('download', total_num_applicants_by_region_admin_reports_path(:format => 'csv')) %>)
      </li>
      <li>
        <%= link_to('Total number of applicants by all SPs', total_num_applicants_to_all_sps_admin_reports_path) %> (<%= link_to('download', total_num_applicants_to_all_sps_admin_reports_path(:format => 'csv')) %>)
      </li>
      <li>
        <%= link_to('Total number of applicants by EFM', total_num_applicants_by_efm_admin_reports_path) %> (<%= link_to('download', total_num_applicants_by_efm_admin_reports_path(:format => 'csv')) %>)
      </li>
      <li>
        <%= link_to('Total number of applicants to HS SPs', total_num_applicants_to_hs_sps_admin_reports_path) %> (<%= link_to('download', total_num_applicants_to_hs_sps_admin_reports_path(:format => 'csv')) %>)
      </li>
      <li>
        <%= link_to('Total number of applicants to other ministry SPs', total_num_applicants_to_other_ministry_sps_admin_reports_path) %> (<%= link_to('download', total_num_applicants_to_other_ministry_sps_admin_reports_path(:format => 'csv')) %>)
      </li>
    </ul>
  </div>
</div>



