<div class="pagepad reportpage">
  <%= link_to("<< Back to all reports", admin_reports_path) %><br />
  <%= link_to("<< Back to national coordinator report list", national_admin_reports_path) %>
  <h1>Student Email Addresses</h1>

  <% if @statuses.present? %>
    <ul>
      <% @statuses.each do |status| %>
        <li><%= link_to(status.titleize, student_emails_admin_reports_path(:status => status)) %> (<%= link_to("download", student_emails_admin_reports_path(:status => status, :format => 'csv')) %>)</li>
      <% end %>
    </ul>
  <% end %>
  <% if @emails %>
    <br /><%= link_to("<< Back to status list", student_emails_admin_reports_path) %>

    <h3><%= params[:status].titleize %></h3>
    <% @emails.each do |email| %>
      <%= email %> <br />
    <% end %>
  <% end %>
</div>


