<% person = f.object %>
<%= error_messages_for person %>
<table border="0" cellspacing="0" cellpadding="0" class="modal_person_info">
  <tr>
    <td class="left">First:</td>
    <td><%= f.text_field :firstName %></td>
  </tr>
  <tr>
    <td class="left">Last:</td>
    <td><%= f.text_field :lastName %></td>
  </tr>
  <tr>
    <td class="left">Preferred:</td>
    <td><%= f.text_field :preferredName %></td>
  </tr>
  <% if @project_id && @project_id != 0 %>
      <tr>
        <td class="left">Designation:</td>
        <td><%= text_field_tag :designation_number, @designation ? @designation.designation_number : "" %>
          <%= hidden_field_tag :project_id, @project_id %><%= hidden_field_tag :year, @year %></td>
      </tr>
  <%- end %>

  <% if app.present? %>
      <tr>
        <td>&nbsp;</td>
        <td>Please only adjust the date fields below if a student on your project is arriving late or leaving early. SOS and project insurance fees will be based on these dates.</td>
      </tr>
      <tr>
        <td class="left">Start Date:</td>
        <td><%= calendar_date_select_tag 'sp_application[start_date]', app.start_date %></td>
      </tr>
      <tr>
        <td class="left">End Date:</td>
        <td><%= calendar_date_select_tag 'sp_application[end_date]', app.end_date %></td>
      </tr>
  <% end %>

  <%= f.fields_for :current_address do |af| %>
      <tr>
        <td class="left">Phone:</td>
        <td>
          <%= af.text_field :home_phone %> (home)<br/>
          <%= af.text_field :cell_phone %> (cell)<br/>
          <%= af.text_field :work_phone %> (work)
        </td>
      </tr>
      <tr>
        <td class="left">Email:</td>
        <td><%= af.text_field :email %></td>
      </tr>
      <tr>
        <td class="left">Address:</td>
        <td>
          Street 1: <%= af.text_field :address1 %>
          <br/>
          Street 2: <%= af.text_field :address2 %>
          <br/>
          City: <%= af.text_field :city %>
          <br/>
          State: <%= af.select :state, State::NAMES + ['Ontario'], :include_blank => true %>
          <br/>
          Zip: <%= af.text_field :zip %>
          <br/>
          Country: <%= af.select :country, Country.order(:country).pluck(:country), :include_blank => true %>
        </td>
      </tr>
  <% end %>
</table>
