<% in_high_school = school_picker.high_schools(@answer_sheet).include?(school_picker.response(@answer_sheet)) %>
<div style="border: solid 1px #dadada; padding: 9px;" id="<%= dom_id(school_picker) %>_div">
	<label for="school_picker_<%= school_picker.id %>" class="desc">Select the state your school is in and click 'Find Schools'</label>
	<%= select_tag "school_picker_state_#{school_picker.id}", options_for_select(State::NAMES, school_picker.state(@answer_sheet)), :disabled => @answer_sheet.frozen?&&@reference.nil?, :readonly => @answer_sheet.frozen?&&@reference.nil? %>
    <%= tag(:input, disabled: @answer_sheet.frozen? && @reference.nil?, readonly: @answer_sheet.frozen?&&@reference.nil?, type: 'button', value: "Find Schools", onclick: "searchCampuses('school_picker_state_#{school_picker.id}', '#{dom_id(school_picker)}', #{@answer_sheet.try(:id)});return false;", class: 'button') %>
	<%= spinner(dom_id(school_picker)) %>
	<%= hidden_field_tag "answers[#{school_picker.id}]", school_picker.response(@answer_sheet), :id => dom_id(school_picker) %>
	<div id="<%= dom_id(school_picker) %>_colleges" style="<%= 'display:none' if in_high_school %>">
	<label for="<%= dom_id(school_picker) %>" class="desc" style="margin-top: 9px;">If you're in college, pick from this list</label>
    <%= render 'fe/questions/fe/college_dropdown', :school_picker => school_picker %><br/><br/>
    <%= link_to("If you're in high school, click here", '#', :onclick => "$('##{dom_id(school_picker)}_highschool').show();$('##{dom_id(school_picker)}_colleges').hide();return false") %>
	</div>
	<div id="<%= dom_id(school_picker) %>_highschool" style="<%= 'display:none' unless in_high_school %>">
  	<label for="<%= dom_id(school_picker) %>" class="desc" style="margin-top: 9px;">
  	  High Schools <%= tip('If your high school is not on the list, just leave this blank') %>
	  </label>
      <%= render 'fe/questions/fe/high_school_dropdown', :school_picker => school_picker %><br/><br/>
    <%= link_to('Click here to go back to college list', '#', :onclick => "$('##{dom_id(school_picker)}_highschool').hide();$('##{dom_id(school_picker)}_colleges').show();return false") %>
	</div>
	
</div>
