



<div class="pagepad">
  <div id="breadcrumb">
    <ul>
      <li><%= link_to('Projects', '') %></li>
      <li class="last"></li>
    </ul>
  </div>
  
  <h1>Manage Directors</h1>
  
  <div class="projectedit">
    
    <div class="left">
      <%= error_messages_for :project %>
      <div id="tabs">
        <ul class="tabs">
          <li><%= link_to('director', '#director') %></li>
          <li><%= link_to('evaluator', '#evaluator') %></li> 
          <li><%= link_to('general', '#general') %></li> 
          <li><%= link_to('national', '#national') %></li> 
          <li><%= link_to('regional', '#regional') %></li> 
        </ul>
        
            
        <div class="tabcontent" id="director">
        
        
        
        
        
        
        
        
        
        
        <table class="people">
            <tr>
              <th class="gender"></th>
              <th class="name sort_up">Name</th>
              <th class="email"></th>
              <th class="campus">Position</th>
            </tr>
        
            <tr>
              <td class="gender"><img alt="User-female" src="/images/icons/user-female.png?1281626147" /></td>
              <td class="name"><a href="#" class="person" data-id="730612">Lacie Adelmann</a></td>
              <td class="email"><a href="mailto:adla0701@stcloudstate.edu"><img alt="Mail" src="/images/icons/mail.png?1281626147" /></a></td>
              <td class="position">Director</td>
              
            </tr>
        </table>
        
        
        
        
        
        </div>
        <div class="tabcontent" id="evaluator"></div>
        <div class="tabcontent" id="general"></div>
        <div class="tabcontent" id="national"></div>
        <div class="tabcontent" id="regional"></div>
        
      </div>
    </div><!-- left -->  
  
    <div class="right sidebar">d
    </div>
  
  
  </div>
  
  <div class="projectfooter">
    <div class="clear"></div>
  </div>

</div>