<div class="pagepad">
  
  <h1>Manage Users</h1>
  
  <div class="projectedit">
    
    <div class="fullpage">
      <div id="tabs">
        <ul class="tabs">
          <li><%= link_to('#national') do %> National Coordinators <span class="spinner"></span><% end %></li> 
          <li><%= link_to(admin_users_path(:type => 'regional')) do %> Regional Coordinators <span class="spinner"></span><% end %></li> 
          <!-- <li><%= link_to(admin_users_path(:type => 'directors')) do %> Directors <span class="spinner"></span><% end %></li> -->
        </ul>
        
            
        <div class="tabcontent" id="national">
	 	      <%= render 'users', :users => @users %>
				</div>

      </div>
    </div><!-- left -->  
  

  
  
  </div>
  
  <div class="projectfooter">
    <div class="clear"></div>
  </div>

</div>
<!-- Form to add a new user -->
<div id="user_search" style="display:none">
  <%= form_tag search_admin_users_path, :id => 'user_form' do %>
    <label for="leader_search_name">Start typing a name to find a person to add:</label>
    <%= hidden_field_tag :type, 'regional', :id => 'user_type' %>
    <%= hidden_field_tag :person_id, '1', :id => 'user_person_id' %>
    <%= text_field_tag :name, '', :id => 'user_search_name', :autocomplete => 'off' %>
    <%= spinner('user_search') %>
  <% end %>
  <div id="user_search_results">
    
  </div>
  
  <div id="add_user_form">
    
  </div>
</div>