



<div class="pagepad">
  <div id="breadcrumb">
    <ul>
      <li><%= link_to('Home', '/admin') %></li>
      <li class="last">Users</li>
    </ul>
  </div>
  
  <h1>Manage Directors</h1>
  
  <div class="projectedit">
    
    <div class="left">
      <div id="tabs">
        <ul class="tabs">
          <li><%= link_to('#national') do %> National Coordinators <span class="spinner"></span><% end %></li> 
          <li><%= link_to(admin_users_path(:type => 'regional')) do %> Regional Coordinators <span class="spinner"></span><% end %></li> 
          <li><%= link_to(admin_users_path(:type => 'directors')) do %> Directors <span class="spinner"></span><% end %></li>
        </ul>
        
            
        <div class="tabcontent" id="national">
	 	      <%= render 'users', :users => @users %>
				</div>

      </div>
    </div><!-- left -->  
  
    <div class="right sidebar">
    </div>
  
  
  </div>
  
  <div class="projectfooter">
    <div class="clear"></div>
  </div>

</div>