<div id="global">
  <div class="pagewidth">
    <ul id="menu">
      <% if sp_user %>
        <% if sp_user.can_see_dashboard? %>
          <li><%= link_to('Projects', admin_projects_path, :class => (params[:controller] == 'admin/projects' && !['show','edit'].include?(params[:action])) ? 'selected' : '') %></li>
        <% end %>
        <% if (!sp_user.can_see_dashboard? && current_person.directed_projects.length == 1) || (@project && !@project.new_record?) %>
          <li><%= link_to('People', (@project ? admin_project_path(@project) : admin_project_path(current_person.directed_projects.first)), :class => (params[:controller] == 'admin/projects' && ['show','edit'].include?(params[:action])) ? 'selected' : '') %></li>
        <% end %>
        <% if sp_user.can_add_user? %>
          <li><%= link_to('Users', admin_users_path, :class => (params[:controller] == 'admin/users') ? 'selected' : '') %></li>
        <% end %>
        <!-- <li><%= link_to('Reports', '') %></li> -->
        
        <% if current_user.developer? %>
         <li><%= link_to('Forms', admin_question_sheets_path, :class => (params[:controller] == 'admin/question_sheets') ? 'selected' : '') %></li>
         <li><%= link_to('Emails', admin_email_templates_path, :class => (params[:controller] == 'admin/email_templates') ? 'selected' : '') %></li>
        <% end %>
      <% end %>
    </ul>
    <ul id="menuright">
      <li class="search withicon"><%= link_to('Search', '/admin/applications/search') %></li>      
      <li><%= link_to('Logout', '/logout') %></li>
    </ul>
    <div class="clear"></div>
  </div>
</div>