<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Go Summer Project | Student Life</title>

  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <script type="text/javascript" charset="utf-8">
    var answer_sheet_type = '<%= @answer_sheet.class %>'
  </script>
  <%= csrf_meta_tag %>

  <script type="text/javascript" charset="utf-8">
    <%= raw Rack::TimeZone::Javascript %>
    setTimezoneCookie()
  </script>
</head>
<body id="<%= params[:controller]%>" class="<%= params[:action] %>">
<%= render :partial => 'layouts/ga' %>
<%- if @authentications || logged_in? %>
  <div id="globalactions">
    <div class="container">
      <ul>
        <li class="pull-right"><%= link_to("Log Out", "/logout") %></li>
        <%- if sp_user.can_see_dashboard? %>
          <li class="pull-right"><%= link_to("Admin", "/admin") %></li>
        <% end -%>
        <li><%= link_to("â† Back to Student Life", "https://www.studentlife.org.nz") %></li>
      </ul>
    </div>
  </div>
<% end -%>
<div id="content" class="container">
  <div class="header">
    <a href="/"><%= image_tag("frontend/header.png") %></a>
  </div>
  <div class="main-content">
    <%= yield %>
  </div>
</div>
<div class="container">
  <div class="footer">
    <div class="row">
      <div class="col-md-12">
        <%= fa_icon 'support' %>
        Have any issues, or a question about something, please <a href="mailto:projects@studentlife.org.nz" class="issueslink" target="_blank">send us an email.</a>
        <div class="pull-right">
          <%= link_to('Privacy Policy', 'https://www.studentlife.org.nz/privacy-policy/', target: '_blank') %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
