<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Summer Project Application</title>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' ,
                             'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js' %>
  <%= javascript_include_tag 'qe/jquery.metadata', 'qe/jquery.tooltips.min' %>
  <%= include_stylesheets :base, :media => 'all' %>
  <%= include_javascripts :base %>
  <script type="text/javascript" charset="utf-8">
    var answer_sheet_type = '<%= @answer_sheet.class %>'
  </script>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'message_block', 'theme' %>
  <script type="text/javascript" charset="utf-8">
    <%= raw Rack::TimeZone::Javascript %>
    setTimezoneCookie()
  </script>
</head>
<body>

<div id="headwrap">
  <div id="header">
    <% if @authentications || logged_in? %>
    <div id="globalactions">
      <ul>
        <li><%= link_to("Log Out", "/logout") %></li>
        <li></li>
      </ul>
    </div>
    <% end %>
    <!-- anything in here my be custom branded -->
    <br/>
    <%= image_tag("/images/frontend/header.jpg") %>
    <!-- END -->
  </div>  
</div>

<div class="clear"></div>
  
<div id="wrapper">  
  <div id="main">
    <%= message_block :on => '' %>
    <%= yield %>
    <div class="clear"></div>
  </div>
</div>

<div id="footerwrap">
  <div id="footer">
    <!-- anything in here my be custom branded -->
    <table>
      <tr>
        <td>
          <img src="/images/icons/lifebuoy.png" style="vertical-align: top; margin-right: 5px;"> If you're having any issues, or have a question about something, please <a href="http://gosummerproject.com/contact/" class="issueslink">send us an email. <img src="/images/icons/mail.png" style="vertical-align: top; border: 0px;"></a>
        </td>
        <!-- <td class="right">Questionnaire Engine | Created by <a href="http://www.26am.com">26AM Design Studio</a></td> -->
      </tr>
    </table>
    <!-- END -->
  </div>
</div>
<!-- Woopra Code Start -->
<script type="text/javascript" src="//static.woopra.com/js/woopra.v2.js"></script>
<script type="text/javascript">
woopraTracker.track();
</script>
<!-- Woopra Code End -->
</body>
</html>
